@model IEnumerable<LookAuKwat.Models.ProductModel>

<div class="row">
    <section>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.ToList().Count Résultats disponibles :</h3>
            </div>
            <div class="list-group">
                @foreach (var liste in Model)
                {
                    <a href="@Url.Action("JobDetail", "Job", new { id = liste.id }, null)" class="list-group-item">
                        <h4 class="list-group-item-heading"> @liste.Title Ville:<span class="text-info"> @liste.Town</span></h4>
                        <p class="list-group-item-text pull-right">@liste.DateAdd</p>

                        <img src="@liste.Images.Select(m=>m.Image).First()" alt="image du groupe @liste.Title" style="height:50px" class="img-rounded" />
                    </a>
                }
            </div>
        </div>
    </section>
</div>
