@using PagedList;

@using PagedList.Mvc;
@model LookAuKwat.ViewModel.SeachJobViewModel

@*<p>@DateTime.Now</p>*@

@if (Model.ListePro.Count == 0)
{

    <p class="text-danger">Pas de résultats disponible !</p>

}
else
{
    <div class="col-md-12" id="groupeResultSearch">
        <div class="col-md-6">
            <div>


                <label class="col-md-2">
                    Tri :
                </label>
                @if (Model.CagtegorieSearch == "Emploi")
                {
                    <select id="selectJob">
                        <option value="---Choisir---">---Choisir---</option>
                        <option id="AscendingPrice" value="Tri par Prix croissant"> Tri par Prix croissant</option>
                        <option id="descendingPrice" value="Tri par Prix décroissant">Tri par Prix décroissant</option>
                        <option id="MostOlder" value="Tri par Plus anciennes">Tri par Plus anciennes</option>
                        <option id="MostLastest" value="Tri par Plus recentes">Tri par Plus recentes</option>
                    </select>
                }
                else if (Model.CagtegorieSearch == "Immobilier")
                {
            <select id="SelectFlat">
                <option value="---Choisir---">---Choisir---</option>
                <option id="AscendingPrice" value="Tri par Prix croissant"> Tri par Prix croissant</option>
                <option id="descendingPrice" value="Tri par Prix décroissant">Tri par Prix décroissant</option>
                <option id="MostOlder" value="Tri par Plus anciennes">Tri par Plus anciennes</option>
                <option id="MostLastest" value="Tri par Plus recentes">Tri par Plus recentes</option>
            </select>
                }


                @*<a id="AscendingPrice" class="btn">Tri par Prix croissant</a>
            <a id="descendingPrice" class="btn">Tri par Prix décroissantt</a>
            <a id="MostOlder" class="btn">Tri par Plus anciennes</a>
            <a id="MostLastest" class="btn">Tri par Plus recentes</a>*@

                @*<div id="CompanySearchResults"></div>*@

                @*@Ajax.ActionLink("Prix croissant", "ResultSearchOfferJob_PartialView", "JobOfferSearch", new { sortBy = "Price asc" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "groupeResultSearch" }, new { @class = "test" })

            @Ajax.ActionLink("Prix décroissant", "ResultSearchOfferJob_PartialView", "JobOfferSearch", new { sortBy = "Price desc" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "groupeResultSearch" })
            @Ajax.ActionLink("Plus anciennes", "ResultSearchOfferJob_PartialView", "JobOfferSearch", new { sortBy = "date asc" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "groupeResultSearch" })
            @Ajax.ActionLink("Plus recentes", "ResultSearchOfferJob_PartialView", "JobOfferSearch", new { sortBy = "date desc" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "groupeResultSearch" })*@



            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    @{ if (Model.CagtegorieSearch == "Emploi")
                        {
                            <h3 class="panel-title">@Model.ListePro.Count Annonces disponibles dans la catégorie Emploi :</h3>
                        }
                        else if (Model.CagtegorieSearch == "Immobilier")
                        {
                            <h3 class="panel-title">@Model.ListePro.Count Annonces disponibles dans la catégorie Immobilier :</h3>
                        }
                    }
                </div>
                <div class="list-group">
                    @foreach (var liste in Model.ListeProPagedList)
                    {
                        if (liste.Category.CategoryName == "Emploi")
                        {
                            <a href="@Url.Action("JobDetail", "Job", new { id = liste.id }, null)" class="list-group-item">
                                <h4 class="list-group-item-heading"> @liste.Title Ville:<span class="text-info"> @liste.Town</span></h4>
                                <p class="list-group-item-text pull-right">@liste.DateAdd</p>
                                <p class="list-group-item-text text-left price"><span>@liste.Price FCFA</span></p>
                                <p class="list-group-item-text text-left">@liste.Category.CategoryName</p>
                                <img src="@liste.Images.Select(m=>m.Image).First()" alt="image du groupe @liste.Title" style="height:150px" class="img-rounded" />
                            </a>
                        }
                        else if (liste.Category.CategoryName == "Immobilier")
                        {
                            <a href="@Url.Action("ApartDetail", "ApartmentRental", new { id = liste.id }, null)" class="list-group-item">
                                <h4 class="list-group-item-heading"> @liste.Title Ville:<span class="text-info"> @liste.Town</span></h4>
                                <p class="list-group-item-text pull-right">@liste.DateAdd</p>
                                <p class="list-group-item-text text-left price"><span>@liste.Price FCFA</span></p>
                                <p class="list-group-item-text text-left">@liste.Category.CategoryName</p>
                                <img src="@liste.Images.Select(m=>m.Image).First()" alt="image du groupe @liste.Title" style="height:150px" class="img-rounded" />
                            </a>
                        }

                    }
                </div>
            </div>
            @if (Model.CagtegorieSearch == "Emploi")
            {

                @*Page @(Model.ListeProPagedList.PageCount< Model.ListeProPagedList.PageNumber ? 0 : Model.ListeProPagedList.PageNumber) sur @Model.ListeProPagedList.PageCount*@
                @Html.PagedListPager(Model.ListeProPagedList, pageNumber => Url.Action("ResultSearchOfferJob_PartialView", "JobOfferSearch", new { pageNumber, sortBy = Request["sortBy"] }),
     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "groupeResultSearch" }))
                }
                @if (Model.CagtegorieSearch == "Immobilier")
                {

                    @*Page @(Model.ListeProPagedList.PageCount< Model.ListeProPagedList.PageNumber ? 0 : Model.ListeProPagedList.PageNumber) sur @Model.ListeProPagedList.PageCount*@
                    @Html.PagedListPager(Model.ListeProPagedList, pageNumber => Url.Action("searchOfferAppart", "ApartmentRentalSearch", new { pageNumber, sortBy = Request["sortBy"] }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "groupeResultSearch" }))
                    }
                </div>
        <div class="col-md-6">
            <h1> Publicitéx</h1>
        </div>
    </div>
}

<script type="text/javascript">
    $('#AscendingPrice').click(function() {
         var JobMaxPrice = $('#PriceMaxSearch').val();
         var JobMinPrice = $('#PriceMinSearch').val();
         var JobContract = $('#TypeContractJob').val();
         var JobActivitySector = $('#ActivitySectorJob').val();
         var JobCity = $('#TownSearch').val();
         $.ajax({
             url: '@Url.Action("ResultSearchOfferJob_PartialView", "JobOfferSearch")?TownSearch=' + JobCity + '&ActivitySectorJob=' + JobActivitySector
                 + '&TypeContractJob=' + JobContract + '&PriceMinSearch=' + JobMinPrice + '&PriceMaxSearch=' + JobMaxPrice + '&sortBy=' +"Price asc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
           
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#descendingPrice').click(function() {
         var JobMaxPrice = $('#PriceMaxSearch').val();
         var JobMinPrice = $('#PriceMinSearch').val();
         var JobContract = $('#TypeContractJob').val();
         var JobActivitySector = $('#ActivitySectorJob').val();
         var JobCity = $('#TownSearch').val();
         $.ajax({
             url: '@Url.Action("ResultSearchOfferJob_PartialView", "JobOfferSearch")?TownSearch=' + JobCity + '&ActivitySectorJob=' + JobActivitySector
                 + '&TypeContractJob=' + JobContract + '&PriceMinSearch=' + JobMinPrice + '&PriceMaxSearch=' + JobMaxPrice + '&sortBy=' +"Price desc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
            
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#MostLastest').click(function() {
         var JobMaxPrice = $('#PriceMaxSearch').val();
         var JobMinPrice = $('#PriceMinSearch').val();
         var JobContract = $('#TypeContractJob').val();
         var JobActivitySector = $('#ActivitySectorJob').val();
         var JobCity = $('#TownSearch').val();
         $.ajax({
             url: '@Url.Action("ResultSearchOfferJob_PartialView", "JobOfferSearch")?TownSearch=' + JobCity + '&ActivitySectorJob=' + JobActivitySector
                 + '&TypeContractJob=' + JobContract + '&PriceMinSearch=' + JobMinPrice + '&PriceMaxSearch=' + JobMaxPrice + '&sortBy=' +"date desc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
           
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#MostOlder').click(function() {
         var JobMaxPrice = $('#PriceMaxSearch').val();
         var JobMinPrice = $('#PriceMinSearch').val();
         var JobContract = $('#TypeContractJob').val();
         var JobActivitySector = $('#ActivitySectorJob').val();
         var JobCity = $('#TownSearch').val();
         $.ajax({
             url: '@Url.Action("ResultSearchOfferJob_PartialView", "JobOfferSearch")?TownSearch=' + JobCity + '&ActivitySectorJob=' + JobActivitySector
                 + '&TypeContractJob=' + JobContract + '&PriceMinSearch=' + JobMinPrice + '&PriceMaxSearch=' + JobMaxPrice + '&sortBy=' +"date asc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
            
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
    });
    $("#selectJob").change(function () {
        $("#selectJob option:selected").click();
    });

    $('#AscendingFlatPrice').click(function() {
        var RoomNumber = $('#RoomNumber').val();
        var MaxApartSurface = $('#MaxApartSurface').val();
        var MinApartSurface = $('#MinApartSurface').val();
        var Type = $('#Type').val();
        var PriceMinSearchApart = $('.PriceMinSearchApart').val();
        var PriceMaxSearchApart = $('.PriceMaxSearchApart').val();
        var TownSearchApart = $('.TownSearchApart').val();
         $.ajax({
             url: '@Url.Action("searchOfferAppart", "ApartmentRentalSearch")?TownSearch=' + TownSearchApart + '&Type=' + Type
                 + '&MinApartSurface=' + MinApartSurface + '&MaxApartSurface=' + MaxApartSurface + '&RoomNumber=' + RoomNumber
                 + '&PriceMinSearchApart=' + PriceMinSearchApart + '&PriceMaxSearchApart=' + PriceMaxSearchApart + '&sortBy=' + "Price asc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        //data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
           
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#descendingFlatPrice').click(function() {
        var RoomNumber = $('#RoomNumber').val();
        var MaxApartSurface = $('#MaxApartSurface').val();
        var MinApartSurface = $('#MinApartSurface').val();
        var Type = $('#Type').val();
        var PriceMinSearchApart = $('.PriceMinSearchApart').val();
        var PriceMaxSearchApart = $('.PriceMaxSearchApart').val();
        var TownSearchApart = $('.TownSearchApart').val();
         $.ajax({
             url: '@Url.Action("searchOfferAppart", "ApartmentRentalSearch")?TownSearch=' + TownSearchApart + '&Type=' + Type
                 + '&MinApartSurface=' + MinApartSurface + '&MaxApartSurface=' + MaxApartSurface + '&RoomNumber=' + RoomNumber
                 + '&PriceMinSearchApart=' + PriceMinSearchApart + '&PriceMaxSearchApart=' + PriceMaxSearchApart + '&sortBy=' +"Price desc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        //data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
           
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#MostOlderFlat').click(function() {
        var RoomNumber = $('#RoomNumber').val();
        var MaxApartSurface = $('#MaxApartSurface').val();
        var MinApartSurface = $('#MinApartSurface').val();
        var Type = $('#Type').val();
        var PriceMinSearchApart = $('.PriceMinSearchApart').val();
        var PriceMaxSearchApart = $('.PriceMaxSearchApart').val();
        var TownSearchApart = $('.TownSearchApart').val();
         $.ajax({
             url: '@Url.Action("searchOfferAppart", "ApartmentRentalSearch")?TownSearch=' + TownSearchApart + '&Type=' + Type
                 + '&MinApartSurface=' + MinApartSurface + '&MaxApartSurface=' + MaxApartSurface + '&RoomNumber=' + RoomNumber
                 + '&PriceMinSearchApart=' + PriceMinSearchApart + '&PriceMaxSearchApart=' + PriceMaxSearchApart + '&sortBy=' +"date desc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
       // data: { 'toto': JobCity},  // JSON.stringify(searchTerm)
        success: function (result) {
           
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
     });

    $('#MostOlderFlat').click(function() {
        var RoomNumber = $('#RoomNumber').val();
        var MaxApartSurface = $('#MaxApartSurface').val();
        var MinApartSurface = $('#MinApartSurface').val();
        var Type = $('#Type').val();
        var PriceMinSearchApart = $('.PriceMinSearchApart').val();
        var PriceMaxSearchApart = $('.PriceMaxSearchApart').val();
        var TownSearchApart = $('.TownSearchApart').val();
         $.ajax({
             url: '@Url.Action("searchOfferAppart", "ApartmentRentalSearch")?TownSearch=' + TownSearchApart + '&Type=' + Type
                 + '&MinApartSurface=' + MinApartSurface + '&MaxApartSurface=' + MaxApartSurface + '&RoomNumber=' + RoomNumber
                 + '&PriceMinSearchApart=' + PriceMinSearchApart + '&PriceMaxSearchApart=' + PriceMaxSearchApart + '&sortBy=' +"date asc",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
            // data: { 'toto': TownSearchApart},  // JSON.stringify(searchTerm)
        success: function (result) {
            
            $('#groupeResultSearch').html(result);
        }
      });
     return false;
    });
    $("#SelectFlat").change(function () {
        $("#SelectFlat option:selected").click();
    });

   
    if (document.getElementById("selectJob").value != null) {
        document.getElementById("selectJob").onchange = function () {
            localStorage['selectJob'] = document.getElementById("selectJob").value;
        }
    }
    if (localStorage['selectJob']) {
        document.getElementById("selectJob").value = localStorage['selectJob'];
    };
    
    if (document.getElementById("SelectFlat").value != null) {
        document.getElementById("SelectFlat").onchange = function () {
            localStorage['SelectFlat'] = document.getElementById("SelectFlat").value;
        }
    }
    if (localStorage['SelectFlat'])
        document.getElementById("SelectFlat").value = localStorage['SelectFlat'];


</script>