@model LookAuKwat.ViewModel.SeachJobViewModel

<p>@DateTime.Now</p>

    @if (Model.ListePro.Count == 0)
    {

        <p class="text-danger">Pas de résultats disponible !</p>

    }
    else
    {


        <div class="panel panel-success">
            <div class="panel-heading">
                @{ if (Model.CagtegorieSearch == "Emploi")
                    {
                        <h3 class="panel-title">@Model.ListePro.Count Annonces disponibles dans la catégorie Emploi :</h3>
                    }
                    else if (Model.CagtegorieSearch == "Immobilier")
                    {
            <h3 class="panel-title">@Model.ListePro.Count Annonces disponibles dans la catégorie Immobilier :</h3>
                    }
                }
            </div>
            <div class="list-group">
                @foreach (var liste in Model.ListePro)
                {
                    if (liste.Category.CategoryName == "Emploi")
                    {
                <a href="@Url.Action("JobDetail", "Job", new { id = liste.id }, null)" class="list-group-item">
                    <h4 class="list-group-item-heading"> @liste.Title Ville:<span class="text-info"> @liste.Town</span></h4>
                    <p class="list-group-item-text pull-right">@liste.DateAdd</p>
                    <p class="list-group-item-text text-left price"><span>@liste.Price FCFA</span></p>
                    <p class="list-group-item-text text-left">@liste.Category.CategoryName</p>
                    <img src="@liste.Images.Select(m=>m.Image).First()" alt="image du groupe @liste.Title" style="height:150px" class="img-rounded" />
                </a>
                    }
                    else if (liste.Category.CategoryName == "Immobilier")
                    {
            <a href="@Url.Action("ApartDetail", "ApartmentRental", new { id = liste.id }, null)" class="list-group-item">
                <h4 class="list-group-item-heading"> @liste.Title Ville:<span class="text-info"> @liste.Town</span></h4>
                <p class="list-group-item-text pull-right">@liste.DateAdd</p>
                <p class="list-group-item-text text-left price"><span>@liste.Price FCFA</span></p>
                <p class="list-group-item-text text-left">@liste.Category.CategoryName</p>
                <img src="@liste.Images.Select(m=>m.Image).First()" alt="image du groupe @liste.Title" style="height:150px" class="img-rounded" />
            </a>
                    }

                }
            </div>
        </div>


    }

