@model LookAuKwat.ViewModel.SeachJobViewModel
@using LookAuKwat.ViewModel

@using (Html.BeginForm("listAllProductViewMapReturnJson", "Product"))
{
    @Html.AntiForgeryToken()

    <div>
        <h4 class="text-center">Filtre de la <strong>rercherche</strong> dans toutes les catégories</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            <div class="form-group col-xs-12 col-sm-6 col-md-6">

                @Html.DropDownListFor(model => model.TownAllProduct, SelectListMethod.GetListTownCameroon(), "Toutes les villes", new { @class = "form-control TownSearchJob" })
                @Html.ValidationMessageFor(model => model.TownAllProduct, "", new { @class = "text-danger" })

            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6">

                @Html.EditorFor(model => model.SearchTermAllProduct, new { htmlAttributes = new { @class = "form-control", placeholder = "Que recherchez vous ?" } })
                @Html.ValidationMessageFor(model => model.SearchTermAllProduct, "", new { @class = "text-danger" })

            </div>


        </div>

        <button id="submitAllProduct" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> <strong>Rechercher @*(<span class="badge"></span> Résultats)*@</strong>
        </button>
    </div>
}

<script type="text/javascript">
    //$(function () {
    //    //ResultAllSpan();
    //    $("#TownAllProduct").change(ResultAllSpan);

    //    $('#SearchTermAllProduct').on('input', function () {
    //        ResultAllSpan();
    //    });
    //})

    //function ResultAllSpan() {

    //    $.ajax({
    //        type: "POST",
    //        url: '/Product/listAllProductSpanReturnJson',
    //        dataType: "json",
    //        headers: {
    //            //"api-key": searchServiceApiKey,
    //            "Content-Type": "application/json"
    //        },
    //        data: JSON.stringify({

    //            town: $("#TownAllProduct").val(),
    //            term: $("#SearchTermAllProduct").val(),


    //        }),
    //        success: function (data2) {

    //            var $badge = $("#submitAllProduct").find('.badge')
    //               // number = Object.keys(data2).length;
    //            $badge.text(data2);

    //        },
    //        error: function (xhr) {
    //            console.log(xhr.responseText);
    //            alert("Une erreur est survenu  !");
    //        }
    //    })
    //}
</script>
