@model List<LookAuKwat.Models.ProductModel>


@foreach (var liste in Model)
{
    if (liste.Category.CategoryName == "Emploi")
    {
        <div>
            <a href="@Url.Action("JobDetail", "Job", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <h4><span>@liste.Title</span></h4>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Immobilier")
    {
        <div>
            <a href="@Url.Action("ApartDetail", "ApartmentRental", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Multimedia")
    {
        <div>
            <a href="@Url.Action("MultimediaDetail", "Multimedia", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Vehicule")
    {
        <div>
            <a href="@Url.Action("VehiculeDetail", "Vehicule", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Mode")
    {
        <div>
            <a href="@Url.Action("ModeDetail", "Mode", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Maison")
    {
        <div>
            <a href="@Url.Action("HouseDetail", "House", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Événement")
    {
        <div>
            <a href="@Url.Action("EventDetail", "Event", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else if (liste.Category.CategoryName == "Divers")
    {
        <div>
            <a href="@Url.Action("DiversDetail", "Divers", new { id = liste.id }, null)">
                <div>
                    <div style="border-radius: 25px;background: lightgray;padding: 20px; height:260px" class="thumbnail">
                        <div class="row">
                            <img src="@liste.Images.Select(m=>m.ImageMobile).First()" style="height:130px" alt="image du groupe @liste.Title" class="img-rounded img-responsive" />
                        </div>
                        <div class="row">
                            <p><span>@liste.Title</span></p>
                            <p class="price"><span>@liste.Price @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(liste.ProductCountry)</span></p>
                            <p class="bottom"><span>@liste.Town</span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
}

