@model LookAuKwat.ViewModel.VehiculeViewModel
@using LookAuKwat.ViewModel

@using (Ajax.BeginForm("AddVehicule", "Vehicule", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ProductAdd" }, new { name = "vehiculeform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" id="SearchOrAskVehiculeDiv">
            @Html.LabelFor(model => model.SearchOrAskJobVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SearchOrAskJobVehicule, SelectListMethodVehicle.SearchOrAskVehiculeList(), "Choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SearchOrAskJobVehicule, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group hidden" id="RubriqueVehiculeDiv">
            @Html.LabelFor(model => model.RubriqueVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RubriqueVehicule, SelectListMethodVehicle.RubriqueVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RubriqueVehicule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden" id="BrandVehiculeAutoDiv">
            @Html.LabelFor(model => model.BrandVehiculeAuto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BrandVehiculeAuto, SelectListMethodVehicle.BrandVehiculeAutoList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BrandVehiculeAuto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="BrandVehiculeBikeDiv">
            @Html.LabelFor(model => model.BrandVehiculeBike, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BrandVehiculeBike, SelectListMethodVehicle.BrandVehiculeMotoList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BrandVehiculeBike, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group hidden" id="ModelVehiculeToyotaDiv">
            @Html.LabelFor(model => model.ModelVehiculeToyota, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelVehiculeToyota, SelectListMethodVehicle.ModelVehiculeAutoToyotaList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelVehiculeToyota, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeMazdaDiv">
            @Html.LabelFor(model => model.ModelVehiculeMazda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelVehiculeMazda, SelectListMethodVehicle.ModelVehiculeAutoMazdaList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelVehiculeMazda, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeKiaDiv">
            @Html.LabelFor(model => model.ModelVehiculeKia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelVehiculeKia, SelectListMethodVehicle.ModelVehiculeAutoKiaList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelVehiculeKia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeMercedesDiv">
            @Html.LabelFor(model => model.ModelVehiculeMercedes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelVehiculeMercedes, SelectListMethodVehicle.ModelVehiculeAutoMercedesList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelVehiculeMercedes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeHuyndraiDiv">
            @Html.LabelFor(model => model.ModelVehiculeHuyndrai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModelVehiculeHuyndrai, SelectListMethodVehicle.ModelVehiculeAutoHyundaiList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelVehiculeHuyndrai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeBikeDiv">
            @Html.LabelFor(model => model.ModelVehiculeBike, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ModelVehiculeBike, new { htmlAttributes = new { @class = "form-control", placeholder = "EX:Sanili 4, Guidon,Plaquettes frein..." } })
                @Html.ValidationMessageFor(model => model.ModelVehiculeBike, "", new { @class = "text-danger" })
                @*<p class="col-md-2" id="spanMultimediaDescription" style="color:lightgreen">Suivant <span class="glyphicon glyphicon-plus"></span></p>*@
            </div>
        </div>

        <div class="form-group hidden" id="ModelVehiculeAutoEquipmentDiv">
            @Html.LabelFor(model => model.ModelVehiculeAutoEquipment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModelVehiculeAutoEquipment, new { htmlAttributes = new { @class = "form-control", placeholder = "EX: Moteur,Pneu,siège..." } })
                @Html.ValidationMessageFor(model => model.ModelVehiculeAutoEquipment, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group hidden" id="ModelVehiculeBikeEquipmentDiv">
            @Html.LabelFor(model => model.ModelVehiculeBikeEquipment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModelVehiculeBikeEquipment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModelVehiculeBikeEquipment, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group hidden" id="StateVehiculeDiv">
            @Html.LabelFor(model => model.StateVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StateVehicule, SelectListMethodVehicle.StateVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="TypeVehiculeDiv">
            @Html.LabelFor(model => model.TypeVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TypeVehicule, SelectListMethodVehicle.TypeVehiculeAutoList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="PetrolVehiculeDiv">
            @Html.LabelFor(model => model.PetrolVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PetrolVehicule, SelectListMethodVehicle.PetrolVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PetrolVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="YearVehiculeDiv">
            @Html.LabelFor(model => model.YearVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearVehicule, new { htmlAttributes = new { @class = "form-control", placeholder = "Exemple: 2005" } })
                @Html.ValidationMessageFor(model => model.YearVehicule, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group hidden" id="FirstYearVehiculeDiv">
            @Html.LabelFor(model => model.FirstYearVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstYearVehicule, new { htmlAttributes = new { @class = "form-control", placeholder = "Exemple: 11/2005" } })
                @Html.ValidationMessageFor(model => model.FirstYearVehicule, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group hidden" id="MileageVehiculeDiv">
            @Html.LabelFor(model => model.MileageVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MileageVehicule, new { htmlAttributes = new { @class = "form-control", placeholder="Exemple: 98525" } })
                @Html.ValidationMessageFor(model => model.MileageVehicule, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group hidden" id="NumberOfDoorVehiculeDiv">
            @Html.LabelFor(model => model.NumberOfDoorVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NumberOfDoorVehicule, SelectListMethodVehicle.NumberOfDoorVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberOfDoorVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="ColorVehiculeDiv">
            @Html.LabelFor(model => model.ColorVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ColorVehicule, SelectListMethodVehicle.ColorVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden" id="GearBoxVehiculeDiv">
            @Html.LabelFor(model => model.GearBoxVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GearBoxVehicule, SelectListMethodVehicle.GearBoxVehiculeList(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GearBoxVehicule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden" id="TitleVehiculeDiv">
            @Html.LabelFor(model => model.TitleVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleVehicule, new { htmlAttributes = new { @class = "form-control", placeholder = "Voiture,Moto, pièces à vendre" } })
                @Html.ValidationMessageFor(model => model.TitleVehicule, "", new { @class = "text-danger" })
            </div>
           
        </div>


        <div class="form-group hidden" id="DescriptionVehiculeDiv">
            @Html.LabelFor(model => model.DescriptionVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DescriptionVehicule,  new { @class = "form-control", @cols = "45", @rows = "5" })
                @Html.ValidationMessageFor(model => model.DescriptionVehicule, "", new { @class = "text-danger" })
            </div>
           
        </div>

        <div class="form-group hidden" id="TownVehiculeDiv">
            @Html.LabelFor(model => model.TownVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TownVehicule, SelectListMethod.GetListTownCameroon(), "choisir", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TownVehicule, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="hidden" id="StreetVehiculeDiv">
            <p class=" col-md-offset-2 text-info">Veuillez choisir une adresse de la liste après votre saisie.</p>
            <div class="form-group">

                @Html.LabelFor(model => model.StreetVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.StreetVehicule, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StreetVehicule, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-group hidden" id="PriceVehiculediv">
            @Html.LabelFor(model => model.PriceVehicule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceVehicule, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceVehicule, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group hidden" id="ImageVehiculeDiv">
            @Html.LabelFor(model => model.Imageproduct.Image, htmlAttributes: new { @class = "control-label col-md-2" })

            @*<label class="control-label col-md-2" for="#imagesJobs"></label>*@
            <div class="col-md-6">

                <input type="file" name="ImageFile" accept="image/*" multiple="multiple" @*onchange="readURL(this);"*@>
                <p class="text-info">Vous pouvez sélectionner à la fois une ou trois(3) images au maximun.</p>
            </div>
            @*<div style="height:50px " class="col-md-4">
                <img id="InitiativeImageUpToDate" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="photo de initiative" height="50" />
            </div>*@
        </div>

        <div class="form-group hidden" id="btnVehiculeDiv">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnAddVehicule" type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        //$(".modal").on("hidden.bs.modal", function () {
        //    //$(".modal-body").html("");
        //    document.getElementById("selectAddId").selectedIndex = "0";
        //});


        $("#SearchOrAskVehiculeDiv").change(function () {

            if ($('#SearchOrAskVehicule').val() !== 'choisir' ) {


                $("#RubriqueVehiculeDiv").removeClass('hidden');

            }
        });
        $("#RubriqueVehiculeDiv").change(function () {
            

            if ($('#RubriqueVehicule').val() !== 'choisir' && ($('#RubriqueVehicule').val() == 'Voitures' || $('#RubriqueVehicule').val() == 'Location voitures')) {


                $("#BrandVehiculeAutoDiv").removeClass('hidden');
                //clear data for null value in backend
                document.getElementById("BrandVehiculeBike").selectedIndex = "0";


                $("#BrandVehiculeBikeDiv").addClass('hidden');


                //close other model
                $("#ModelVehiculeToyotaDiv").addClass('hidden');
                $("#ModelVehiculeMazdaDiv").addClass('hidden');
                $("#ModelVehiculeKiaDiv").addClass('hidden');
                $("#ModelVehiculeMercedesDiv").addClass('hidden');
                $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                $("#ModelVehiculeBikeDiv").addClass('hidden');
                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                $("#BrandVehiculeAutoDiv").change(function () {

                    if ($('#BrandVehiculeAuto').val() !== 'choisir' && $('#BrandVehiculeAuto').val() == 'Toyota') {


                        $("#ModelVehiculeToyotaDiv").removeClass('hidden');


                        $("#ModelVehiculeMazdaDiv").addClass('hidden');
                        $("#ModelVehiculeKiaDiv").addClass('hidden');
                        $("#ModelVehiculeMercedesDiv").addClass('hidden');
                        $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                        $("#ModelVehiculeBikeDiv").addClass('hidden');
                        $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                        $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                        $("#ModelVehiculeToyotaDiv").change(function () {

                            if ($('#ModelVehiculeToyota').val() !== 'choisir') {


                                $("#StateVehiculeDiv").removeClass('hidden');

                            }
                        });
                    } else if ($('#BrandVehiculeAuto').val() !== 'choisir' && $('#BrandVehiculeAuto').val() == 'Mercedes') {

                        $("#ModelVehiculeMercedesDiv").removeClass('hidden');

                        //clear data for null value in backend
                        document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMazda").selectedIndex = "0";
                        document.getElementById("ModelVehiculeKia").selectedIndex = "0";
                        document.getElementById("ModelVehiculeHuyndrai").selectedIndex = "0";
                        document.getElementById("ModelVehiculeBike").selectedIndex = "0";
                       // document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                       // document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";


                        //close other model
                        $("#ModelVehiculeToyotaDiv").addClass('hidden');
                        $("#ModelVehiculeMazdaDiv").addClass('hidden');
                        $("#ModelVehiculeKiaDiv").addClass('hidden');
                        $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                        $("#ModelVehiculeBikeDiv").addClass('hidden');
                        $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                        $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                        $("#ModelVehiculeMercedesDiv").change(function () {

                            if ($('#ModelVehiculeMercedes').val() !== 'choisir') {


                                $("#StateVehiculeDiv").removeClass('hidden');

                            }
                        });
                    }
                    else if ($('#BrandVehiculeAuto').val() !== 'choisir' && $('#BrandVehiculeAuto').val() == 'Hyundrai') {

                        $("#ModelVehiculeHuyndraiDiv").removeClass('hidden');

                        //clear data for null value in backend
                        document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMazda").selectedIndex = "0";
                        document.getElementById("ModelVehiculeKia").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMercedes").selectedIndex = "0";
                        document.getElementById("ModelVehiculeBike").selectedIndex = "0";
                       // document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                        //document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";


                        //close other model
                        $("#ModelVehiculeToyotaDiv").addClass('hidden');
                        $("#ModelVehiculeMazdaDiv").addClass('hidden');
                        $("#ModelVehiculeKiaDiv").addClass('hidden');
                        $("#ModelVehiculeMercedesDiv").addClass('hidden');
                        $("#ModelVehiculeBikeDiv").addClass('hidden');
                       $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                        $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                        $("#ModelVehiculeHuyndraiDiv").change(function () {

                            if ($('#ModelVehiculeHuyndrai').val() !== 'choisir') {


                                $("#StateVehiculeDiv").removeClass('hidden');

                            }
                        });
                    }
                    else if ($('#BrandVehiculeAuto').val() !== 'choisir' && $('#BrandVehiculeAuto').val() == 'Mazda') {

                        $("#ModelVehiculeMazdaDiv").removeClass('hidden');

                        //clear data for null value in backend
                        document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                        document.getElementById("ModelVehiculeHuyndrai").selectedIndex = "0";
                        document.getElementById("ModelVehiculeKia").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMercedes").selectedIndex = "0";
                        document.getElementById("ModelVehiculeBike").selectedIndex = "0";
                       // document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                       // document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";


                        //close other model
                        $("#ModelVehiculeToyotaDiv").addClass('hidden');
                        $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                        $("#ModelVehiculeKiaDiv").addClass('hidden');
                        $("#ModelVehiculeMercedesDiv").addClass('hidden');
                        $("#ModelVehiculeBikeDiv").addClass('hidden');
                        $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                        $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                        $("#ModelVehiculeMazdaDiv").change(function () {

                            if ($('#ModelVehiculeMazda').val() !== 'choisir') {


                                $("#StateVehiculeDiv").removeClass('hidden');

                            }
                        });
                    } else if ($('#BrandVehiculeAuto').val() !== 'choisir' && $('#BrandVehiculeAuto').val() == 'Kia') {

                        $("#ModelVehiculeKiaDiv").removeClass('hidden');

                        //clear data for null value in backend
                        document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                        document.getElementById("ModelVehiculeHuyndrai").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMazda").selectedIndex = "0";
                        document.getElementById("ModelVehiculeMercedes").selectedIndex = "0";
                        document.getElementById("ModelVehiculeBike").selectedIndex = "0";
                        //document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                        //document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";


                        //close other model
                        $("#ModelVehiculeToyotaDiv").addClass('hidden');
                        $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                        $("#ModelVehiculeMazdaDiv").addClass('hidden');
                        $("#ModelVehiculeMercedesDiv").addClass('hidden');
                        $("#ModelVehiculeBikeDiv").addClass('hidden');
                        $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                        $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                        $("#ModelVehiculeKiaDiv").change(function () {

                            if ($('#ModelVehiculeKia').val() !== 'choisir') {


                                $("#StateVehiculeDiv").removeClass('hidden');

                            }
                        });
                    }
                });
            }
            else if ($('#RubriqueVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() == 'Motos') {

                $("#BrandVehiculeBikeDiv").removeClass('hidden');

                document.getElementById("BrandVehiculeAuto").selectedIndex = "0";


                $("#BrandVehiculeAutoDiv").addClass('hidden');


                //close other model
                $("#ModelVehiculeToyotaDiv").addClass('hidden');
                $("#ModelVehiculeMazdaDiv").addClass('hidden');
                $("#ModelVehiculeKiaDiv").addClass('hidden');
                $("#ModelVehiculeMercedesDiv").addClass('hidden');
                $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
               // $("#ModelVehiculeBikeDiv").addClass('hidden');
                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                $("#BrandVehiculeBikeDiv").change(function () {

                    if ($('#BrandVehiculeBike').val() !== 'choisir') {


                        $("#ModelVehiculeBikeDiv").removeClass('hidden');

                        $("#StateVehiculeDiv").removeClass('hidden');
                    }
                });

                //$("#ModelVehiculeBikeDiv").change(function () {

                //    if ($('#ModelVehiculeBike').val() !== 'choisir') {


                //        $("#StateVehiculeDiv").removeClass('hidden');

                //    }
                //});
            }
            else if ($('#RubriqueVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() == 'Equipement Auto') {

                $("#BrandVehiculeAutoDiv").removeClass('hidden');

                document.getElementById("BrandVehiculeBike").selectedIndex = "0";

                document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                document.getElementById("ModelVehiculeMazda").selectedIndex = "0";
                document.getElementById("ModelVehiculeMercedes").selectedIndex = "0";
                document.getElementById("ModelVehiculeHuyndrai").selectedIndex = "0";
                document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";
                document.getElementById("YearVehiculeDiv").selectedIndex = "0";
                document.getElementById("MileageVehicule").selectedIndex = "0";
                document.getElementById("NumberOfDoorVehicule").selectedIndex = "0";
                document.getElementById("ColorVehicule").selectedIndex = "0";
                document.getElementById("GearBoxVehicule").selectedIndex = "0";
                

                $("#BrandVehiculeBikeDiv").addClass('hidden');

                //close other model
                $("#ModelVehiculeToyotaDiv").addClass('hidden');
                $("#ModelVehiculeMazdaDiv").addClass('hidden');
                $("#ModelVehiculeKiaDiv").addClass('hidden');
                $("#ModelVehiculeMercedesDiv").addClass('hidden');
                $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                $("#ModelVehiculeBikeDiv").addClass('hidden');
                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');
                $("#TypeVehiculeDiv").addClass('hidden');
                $("#PetrolVehiculeDiv").addClass('hidden');
                $("#YearVehiculeDiv").addClass('hidden');
                $("#FirstYearVehiculeDiv").addClass('hidden');
                $("#MileageVehiculeDiv").addClass('hidden');
                $("#NumberOfDoorVehiculeDiv").addClass('hidden');
                $("#ColorVehiculeDiv").addClass('hidden');
                $("#GearBoxVehiculeDiv").addClass('hidden');
                $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                $("#BrandVehiculeAutoDiv").change(function () {

                    if ($('#BrandVehiculeAuto').val() !== 'choisir') {


                        $("#ModelVehiculeAutoEquipmentDiv").removeClass('hidden');
                        $("#StateVehiculeDiv").removeClass('hidden');
                        //$("#ModelVehiculeAutoEquipmentDiv").change(function () {

                        //    if ($('#ModelVehiculeAutoEquipment').val() !== 'choisir') {


                        //        $("#StateVehiculeDiv").removeClass('hidden');

                        //    }
                        //});
                    }
                });
            }
            else if ($('#RubriqueVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() == 'Equipement Moto') {

                $("#BrandVehiculeBikeDiv").removeClass('hidden');

                document.getElementById("BrandVehiculeAuto").selectedIndex = "0";

                document.getElementById("ModelVehiculeToyota").selectedIndex = "0";
                document.getElementById("ModelVehiculeMazda").selectedIndex = "0";
                document.getElementById("ModelVehiculeMercedes").selectedIndex = "0";
                document.getElementById("ModelVehiculeHuyndrai").selectedIndex = "0";
                document.getElementById("ModelVehiculeAutoEquipment").selectedIndex = "0";
                document.getElementById("ModelVehiculeBikeEquipment").selectedIndex = "0";
                document.getElementById("YearVehiculeDiv").selectedIndex = "0";
                document.getElementById("MileageVehicule").selectedIndex = "0";
                document.getElementById("NumberOfDoorVehicule").selectedIndex = "0";
                document.getElementById("ColorVehicule").selectedIndex = "0";
                document.getElementById("GearBoxVehicule").selectedIndex = "0";
              
                $("#BrandVehiculeAutoDiv").addClass('hidden');

                //close other model
                $("#ModelVehiculeToyotaDiv").addClass('hidden');
                $("#ModelVehiculeMazdaDiv").addClass('hidden');
                $("#ModelVehiculeKiaDiv").addClass('hidden');
                $("#ModelVehiculeMercedesDiv").addClass('hidden');
                $("#ModelVehiculeHuyndraiDiv").addClass('hidden');
                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                $("#ModelVehiculeBikeEquipmentDiv").addClass('hidden');

                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');
                $("#TypeVehiculeDiv").addClass('hidden');
                $("#PetrolVehiculeDiv").addClass('hidden');
                $("#YearVehiculeDiv").addClass('hidden');
                $("#FirstYearVehiculeDiv").addClass('hidden');
                $("#MileageVehiculeDiv").addClass('hidden');
                $("#NumberOfDoorVehiculeDiv").addClass('hidden');
                $("#ColorVehiculeDiv").addClass('hidden');
                $("#GearBoxVehiculeDiv").addClass('hidden');
                $("#ModelVehiculeAutoEquipmentDiv").addClass('hidden');

                $("#BrandVehiculeBikeDiv").change(function () {

                    if ($('#BrandVehiculeBikeDiv').val() !== 'choisir') {

                        $("#ModelVehiculeBikeEquipmentDiv").removeClass('hidden');
                        $("#StateVehiculeDiv").removeClass('hidden');

                        //$("#ModelVehiculeBikeDiv").removeClass('hidden');

                        //$("#ModelVehiculeBikeDiv").change(function () {


                        //    if ($('#ModelVehiculeBike').val() !== 'choisir') {


                        //        $("#ModelVehiculeBikeEquipmentDiv").removeClass('hidden');
                        //        $("#StateVehiculeDiv").removeClass('hidden');
                        //    }
                        //});

                        //$("#ModelVehiculeBikeEquipmentDiv").change(function () {


                        //    if ($('#ModelVehiculeBikeEquipment').val() !== 'choisir') {


                        //        $("#StateVehiculeDiv").removeClass('hidden');

                        //    }
                        //});
                    }
                });
            }
        });

        $("#StateVehiculeDiv").change(function () {

            if ($('#StateVehicule').val() !== 'choisir' && ($('#RubriqueVehicule').val() == 'Equipement Auto' || $('#RubriqueVehicule').val() == 'Equipement Moto')) {
                $("#TitleVehiculeDiv").removeClass('hidden');
                $("#DescriptionVehiculeDiv").removeClass('hidden');
                $("#TownVehiculeDiv").removeClass('hidden');

            } else if ($('#StateVehicule').val() !== 'choisir' && ($('#RubriqueVehicule').val() !== 'Equipement Auto' || $('#RubriqueVehicule').val() !== 'Equipement Moto')
                && $('#RubriqueVehicule').val() === 'Motos') {
                $("#PetrolVehiculeDiv").removeClass('hidden');

            } else if ($('#StateVehicule').val() !== 'choisir' && ($('#RubriqueVehicule').val() !== 'Equipement Auto' || $('#RubriqueVehicule').val() !== 'Equipement Moto')
                && ($('#RubriqueVehicule').val() === 'Voitures' || $('#RubriqueVehicule').val() == 'Location voitures')) {
                $("#TypeVehiculeDiv").removeClass('hidden');
               
            }
        });

        $("#TypeVehiculeDiv").change(function () {

            if ($('#TypeVehicule').val() !== 'choisir') {

                $("#PetrolVehiculeDiv").removeClass('hidden');

            }
        });


        $("#PetrolVehiculeDiv").change(function () {

            if ($('#PetrolVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() === 'Motos') {

                $("#YearVehiculeDiv").removeClass('hidden');
                $("#FirstYearVehiculeDiv").removeClass('hidden');
                $("#MileageVehiculeDiv").removeClass('hidden');
                $("#ColorVehiculeDiv").removeClass('hidden');
            } else if ($('#PetrolVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() !== 'Motos') {

                $("#YearVehiculeDiv").removeClass('hidden');
                $("#FirstYearVehiculeDiv").removeClass('hidden');
                $("#MileageVehiculeDiv").removeClass('hidden');
                $("#NumberOfDoorVehiculeDiv").removeClass('hidden');

            }
        });
        //$("#YearVehiculeDiv").change(function () {

        //    if ($('#YearVehicule').val() !== 'choisir') {

        //        $("#FirstYearVehiculeDiv").removeClass('hidden');

        //    }
        //});

        //$("#FirstYearVehiculeDiv").change(function () {

        //    if ($('#FirstYearVehicule').val() !== 'choisir') {

        //        $("#MileageVehiculeDiv").removeClass('hidden');

        //    }
        //});

        //$("#MileageVehiculeDiv").change(function () {

        //    if ($('#MileageVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() === 'Motos') {

        //        $("#ColorVehiculeDiv").removeClass('hidden');

        //    } else if ($('#MileageVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() !== 'Motos') {

        //        $("#NumberOfDoorVehiculeDiv").removeClass('hidden');

        //    }
        //});

        $("#NumberOfDoorVehiculeDiv").change(function () {

            if ($('#NumberOfDoorVehicule').val() !== 'choisir') {

                $("#ColorVehiculeDiv").removeClass('hidden');

            }
        });
        $("#ColorVehiculeDiv").change(function () {

            if ($('#ColorVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() === 'Motos') {

                $("#TitleVehiculeDiv").removeClass('hidden');
                $("#DescriptionVehiculeDiv").removeClass('hidden');
                $("#TownVehiculeDiv").removeClass('hidden');

            } else if ($('#ColorVehicule').val() !== 'choisir' && $('#RubriqueVehicule').val() !== 'Motos') {

                $("#GearBoxVehiculeDiv").removeClass('hidden');
            }
        });

        $("#GearBoxVehiculeDiv").change(function () {

            if ($('#GearBoxVehicule').val() !== 'choisir') {

                $("#TitleVehiculeDiv").removeClass('hidden');
                $("#DescriptionVehiculeDiv").removeClass('hidden');
                $("#TownVehiculeDiv").removeClass('hidden');
            }
        });

        //$("#TitleVehiculeDiv").change(function () {

        //    if ($('#TitleVehicule').val() !== 'choisir') {

        //        $("#DescriptionVehiculeDiv").removeClass('hidden');

        //    }
        //});

        //$("#DescriptionVehiculeDiv").change(function () {

        //    if ($('#DescriptionVehicule').val() !== 'choisir') {

        //        $("#TownVehiculeDiv").removeClass('hidden');

        //    }
        //});

        $("#TownVehiculeDiv").change(function () {

            if ($('#TownVehicule').val() !== 'choisir' ) {


                $("#StreetVehiculeDiv").removeClass('hidden');
                $("#PriceVehiculediv").removeClass('hidden');
                $("#ImageVehiculeDiv").removeClass('hidden');
                $("#btnVehiculeDiv").removeClass('hidden');

            }
        });



        $('#btnAddVehicule').click(function () {
           
            var y = document.forms["vehiculeform"]["TitleVehicule"].value;
            var z = document.forms["vehiculeform"]["DescriptionVehicule"].value;
            var u = document.forms["vehiculeform"]["StreetVehicule"].value;
            
   

            if ( y !== "" && z !== "" && u !== "") {

                $('#MyModalAddVehicule').modal('hide');
                $(".js-alert").removeClass('hidden').delay(5000).queue(function () {
                    $(this).addClass('hidden').dequeue();
                });


            }

        });



        $("#StreetVehicule").autocomplete({
        source: function (request, response) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowAddress", "Job")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                top: 5,

               // country: $("#Country").val(),
                town: $("#TownVehicule").val(),
                 // zipcode: $("#ZipCode").val(),
                term: request.term
            }),
            success: function (data) {
                if (data && data.length > 0) {
                      var parsedDate = $.parseJSON(data);

                        response((parsedDate["results"]).map(feature => feature["formatted"]));

                    }
                }
            });
            },
            select: function (event, ui) {
                //remember the selected item
                $('#StreetVehicule')
                    .data('selected-item', ui.item.label);
            },
        minLength: 3,
        position: {
            //my: "left top",
            //at: "left-23 bottom+10"
            my: "left top",
  at: "left-3 bottom+0",
            of: "#StreetVehicule"
            },
            appendTo: "#MyModalAddVehicule"
        }).blur(function () {
            var value = $('#StreetVehicule').val();
            //check if the input's value matches the selected item
            if (value != $('#StreetVehicule').data('selected-item')) {
                //they don't, the user must have typed something else
                $('#StreetVehicule')
                    .val('') //clear the input's text
                    .data('selected-item', ''); //clear the selected item
            }
        });
    })
</script>