@model LookAuKwat.Models.VehiculeModel

<div>
    <h4>VehiculeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchOrAskJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchOrAskJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RubriqueVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RubriqueVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetrolVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetrolVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstYearVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstYearVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MileageVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MileageVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDoorVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDoorVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GearBoxVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GearBoxVehicule)
        </dd>

    </dl>
</div>

