@model LookAuKwat.Models.VehiculeModel
@using System.Globalization;
@{
    ViewBag.Title =  Model.Title + " " + " " + Model.Street + " " + Model.Town + " " + Model.ProductCountry;

}

@{

    TimeSpan elapsTime = DateTime.Now - Model.DateAdd;
    string period = null;
    int time = 0;

    if (elapsTime.TotalMinutes < 60)
    {
        time = elapsTime.Minutes;
        period = "minutes";
    }
    else if (elapsTime.TotalMinutes > 60 && elapsTime.TotalMinutes < 1440)
    {
        time = elapsTime.Hours;
        period = "Heures";
    }
    else if (elapsTime.TotalMinutes > 1440)
    {
        time = elapsTime.Days;
        period = "Jours";
    }

    }

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
@if (Model.SearchOrAskJob == "J'offre")
{
<p>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home") <i class="fa fa-angle-right"></i> @Html.ActionLink(Model.RubriqueVehicule, "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = Model.RubriqueVehicule }, null)
    <i class="fa fa-angle-right"></i>  @Html.ActionLink(Model.Town, "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = Model.RubriqueVehicule, TownVehicule = Model.Town }, null) <i class="fa fa-angle-right"></i> @Model.Title
</p>
}
else
{
<p>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home") <i class="fa fa-angle-right"></i> @Html.ActionLink(Model.RubriqueVehicule, "ResultSearchAskProduct_PartialView", "Product", new { CagtegorieSearchAsk = Model.Category.CategoryName, TitleSearchAsk = Model.Title }, null)
    <i class="fa fa-angle-right"></i>  @Html.ActionLink(Model.Town, "ResultSearchAskProduct_PartialView", "Product", new { CagtegorieSearchAsk = Model.Category.CategoryName, TitleSearchAsk = Model.Title, TownSearchAsk = Model.Town }, null) <i class="fa fa-angle-right"></i> @Model.Title
</p>
}

<h2>Détails de l'annonce catégorie Véhicule 🚗 🏍</h2>
<div id="MyModalContactJob" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Envoyer un message à @Model.User.FirstName<span id="eventTitle"></span></h3>
            </div>
            <div class="modal-body">

                @{
                    var link = HttpContext.Current.Request.Url.AbsoluteUri;
                    Html.RenderAction("ContactProductUser_PartialView", "Product", new { RecieverEmail = Model.User.Email, RecieverName = Model.User.UserName, Linkshare = link, Category = "Imo" });


                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<section class="row">

    <section class="col-md-8">
        <div class="row">
            <div id="myCarousel" class="carousel slide col-sm-12" data-interval="false">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    @{

                        for (int num = 1; num < Model.Images.Count; num++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@num"></li>

                        }

                    }
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        @{

                            <div class="item active thumbnail">
                                <a href="@Model.Images[0].ImageMobile" data-lightbox="mygallery"><img class="img-rounded img-responsive" src="@Model.Images[0].ImageMobile" alt="@Model.RubriqueVehicule @Model.BrandVehicule @Model.ModelVehicule LookAuKwat" /></a>

                            </div>
                            for (int a = 1; a < Model.Images.Count; a++)
                            {
                                <div class="item thumbnail">
                                    <a href="@Model.Images[a].ImageMobile" data-lightbox="mygallery"><img src="@Model.Images[a].ImageMobile" alt="@Model.RubriqueVehicule @Model.BrandVehicule @Model.ModelVehicule LookAuKwat" class="img-rounded img-responsive" /></a>

                                </div>
                            }
                        }
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="product-title"><strong>@Model.Title</strong></h3>
            <div>
                <label>Ajoutée il y'a : </label>  <span style="color:forestgreen">@time.ToString() @period</span>

            </div>
            <div class="rating">
                <span class="review-no"><strong>@Model.ViewNumber vues</strong></span>
            </div>
        </div>


        @if (!string.IsNullOrWhiteSpace(Model.VideoUrl))
        {
            <div class="row">
                <img src="https://www.technobezz.com/files/uploads/2020/04/film-and-vid.jpg" height="30" />
                <a class="btn btn-primary" href="@Model.VideoUrl">Faire une visite guidée du bien en vidéo</a>
            </div>
        }
        <hr />
        <div class="row">

            @{


                if (Model.RubriqueVehicule == "Voitures" || Model.RubriqueVehicule == "Motos" || Model.RubriqueVehicule == "Equipement Auto"
                                || Model.RubriqueVehicule == "Equipement Moto")
                {
                    if (!string.IsNullOrWhiteSpace(Model.RubriqueVehicule))
                    {
                        <div class=" col-xs-6 col-sm-6 col-md-4">
                            @Html.LabelFor(model => model.RubriqueVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                            <p><strong>@Model.RubriqueVehicule</strong></p>

                        </div>
                    }

                    if (!string.IsNullOrWhiteSpace(Model.BrandVehicule))
                    {
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            @Html.LabelFor(model => model.BrandVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                            <p><strong>@Model.BrandVehicule</strong></p>

                        </div>
                    }

                    <div class="col-xs-6 col-sm-6 col-md-4 price">
                        <label class="control-label labelColor">Prix</label>

                        <p><span>@Model.Price.ToString("N", CultureInfo.CreateSpecificCulture("af-ZA")).Split(',')[0].Trim() @LookaukwatApp.ViewModels.StaticListConvertMoney.GetSymbol(Model.ProductCountry)</span></p>

                    </div>

                    if (!string.IsNullOrWhiteSpace(Model.StateVehicule))
                    {
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            @Html.LabelFor(model => model.StateVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                            <p><strong>@Model.StateVehicule</strong></p>

                        </div>
                    }

                    if (Model.RubriqueVehicule == "Equipement Auto")
                    {
                        if (!string.IsNullOrWhiteSpace(Model.ModelVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.ModelVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p>@Model.ModelVehicule</p>

                            </div>
                        }

                    }
                    else if (Model.RubriqueVehicule == "Equipement Moto")
                    {
                        if (!string.IsNullOrWhiteSpace(Model.ModelVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.ModelVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p>@Model.ModelVehicule</p>

                            </div>
                        }

                    }
                    if (Model.RubriqueVehicule == "Voitures" || Model.RubriqueVehicule == "Motos")
                    {
                        if (!string.IsNullOrWhiteSpace(Model.ModelVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.ModelVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p><strong>@Model.ModelVehicule</strong></p>

                            </div>
                        }
                        if (!string.IsNullOrWhiteSpace(Model.FirstYearVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.FirstYearVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p><strong> @Model.FirstYearVehicule</strong></p>

                            </div>
                        }
                        if (!string.IsNullOrWhiteSpace(Model.MileageVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.MileageVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p><strong>@Model.MileageVehicule Km</strong></p>

                            </div>
                        }
                        if (!string.IsNullOrWhiteSpace(Model.ColorVehicule))
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                @Html.LabelFor(model => model.ColorVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                <p><strong>@Model.ColorVehicule</strong></p>

                            </div>
                        }
                        if (Model.RubriqueVehicule == "Voitures")
                        {
                            if (!string.IsNullOrWhiteSpace(Model.TypeVehicule))
                            {
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    @Html.LabelFor(model => model.TypeVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                    <p><strong>@Model.TypeVehicule</strong></p>

                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.PetrolVehicule))
                            {
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    @Html.LabelFor(model => model.PetrolVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                    <p><strong>@Model.PetrolVehicule</strong></p>

                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.NumberOfDoorVehicule))
                            {
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    @Html.LabelFor(model => model.NumberOfDoorVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                    <p><strong>@Model.NumberOfDoorVehicule</strong></p>

                                </div>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.GearBoxVehicule))
                            {
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    @Html.LabelFor(model => model.GearBoxVehicule, htmlAttributes: new { @class = "control-label labelColor" })
                                    <p><strong>@Model.GearBoxVehicule</strong></p>

                                </div>
                            }
                        }
                    }
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        @Html.LabelFor(model => model.SearchOrAskJob, htmlAttributes: new { @class = "control-label labelColor" })
                        <p><strong>@Model.SearchOrAskJob</strong></p>

                    </div>
                }


            }
        </div>
        <hr />
        <div class="row">
            <h3 class="product-title">Description</h3>
            <p class="product-description" style="white-space:pre-wrap">@Model.Description</p>

        </div>
        <hr />
        <div class="row">
            <label class="labelColor">Ville : </label><strong> @Model.Town</strong> , <label class="labelColor">Adresse : </label><strong>@Model.Street</strong>
            <div id="mapidDetailsVehicule" style="height:250px;"></div>
        </div>
        <hr />
        <div class="row ">
            <div class="col-xs-6 col-md-6"><strong>Signaler l'annonce</strong></div>
            <div class="col-xs-6 col-md-6"><a href="@Url.Action("Contact", "Home")">Ici</a></div>
        </div>
        <hr />
        <div class="row">
            <p><strong>Partager sur:</strong></p>
            <p>
                @*facebook sharing*@
                <a href="javascript:void(o)" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/JobDetail/@Model.id','facebook-share-dialog','toolbar=0,status=0,width=600,height=600');"> <img src="@Url.Content("~/UserImage/facebook.png ")" id="imgfb" alt="facebook" height="40" /></a> @*twitter sharing*@
                <a href="http://twitter.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/VehiculeDetail/@Model.id&title=@Model.Title&summary=@Model.Description" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img src="@Url.Content("~/UserImage/Twitter.png ")" id="imgtw" alt="twitter" height="40" /></a>
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> @*LinkedIn sharing*@
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/VehiculeDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="Linkedin" src="@Url.Content("~/UserImage/linkedin.png ")" id="imgln" height="40" /></a> @*GooglePlus sharing*@
                <a href="https://mail.google.com/mail/?view=cm&su=@Model.Title&to&body=Job disponible @Model.Description sur le lien : @HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/VehiculeDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="GooglePlus" src="@Url.Content("~/UserImage/Gmail.png ")" id="imggoogle" height="40" /></a>
                <a href="http://compose.mail.yahoo.com/?&Subject=@Model.Title&To=&Body=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/VehiculeDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="Linkedin" src="@Url.Content("~/UserImage/Yahoo.png ")" id="imgln" height="40" /></a>

                <a href="whatsapp://send?text=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/VehiculeDetail/@Model.id" data-action="share/whatsapp/share"><img alt="whatsapp" src="@Url.Content("~/UserImage/whatsapp.png ")" id="imgln" height="40" /></a>
            </p>
        </div>

        <hr />
        <h3>Quelques annonce similaire qui peuvent vous intéréssez</h3>
        <div class="row gallery MySlickCarouselJob">

            @{
                Html.RenderAction("SimilarProduct_PartialView", "Product", new { model = Model });
            }
        </div>
    </section>
    <section class="col-md-4">
        <div class="row" style="border-radius: 25px;background: lightgray;padding: 20px;">
            <img src="@Url.Content("~/UserImage/avatar_icon.png")" alt="photo du publicateur Lookaukwat" class="img-rounded" height="50" /> @Model.User.FirstName
            <hr />
            @{
                <button id="sendJobMessage" class="btn btn-primary sendJobMessage"><span class="glyphicon glyphicon-pencil"></span> Message </button>
                <button id="iconJobCall" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span> Voir le numéro</button>
                @*if ((Model.User.EmailConfirmed == true && Model.User.PhoneNumber != null) || (Model.User.PhoneNumberConfirmed == true && Model.User.Email != null && !Model.User.Email.StartsWith("Mtest")))
                {
                    <button id="sendJobMessage" class="btn btn-primary sendJobMessage"><span class="glyphicon glyphicon-pencil"></span> Envoyer un message </button>
                    <button id="iconJobCall" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span> Voir le numéro</button>
                }
                else if (Model.User.PhoneNumberConfirmed == true)
                {
                    <button id="iconJobCall" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span> Voir le numéro</button>
                }
                else if (Model.User.EmailConfirmed == true)
                {
                    <button id="sendJobMessage" class="btn btn-primary sendJobMessage"><span class="glyphicon glyphicon-pencil"></span> Envoyer un message </button>
                }*@
            }
            <a id="numJobCall" class="hidden" href="tel:@Model.User.PhoneNumber">@Model.User.PhoneNumber</a>
        </div>
        <div class="row text-center">
            <label class="site__subtitle">Télécharger lookaukwat !</label>
            <a href="https://play.google.com/store/apps/details?id=com.lookaukwat.lookaukwatapp" style="color:blue"> <img class="img-responsive" alt="Télécharger lookaukwat android google playstore" src="@Url.Content("~/UserImage/Logo_Google_play.jpg")" /></a>
        </div>

    </section>

    @*<section class=" col-md-12 row"><div class=" navbar-fixed-bottom">
    <button type="button" class="col-md-6 btn ">Contact</button>
    <button type="button" class=" col-md-6 btn">Appel</button>
</div></section>*@
   
</section>

<section class="row">
    <nav class="main-nav">
        <ul>
            @*<li>
            <a href="#">
                <i class="fa fa-cloud fa-2x"></i>
                <span class="nav-text">
                    News and Weather
                </span>
            </a>
        </li>*@


            @{
                <li class="has-subnav">
                    <a href="tel:@Model.User.PhoneNumber">
                        <i class="fa fa-phone fa-2x"></i>
                        <span class="nav-text ">
                            Téléphone
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        @*<i class="fa fa-exclamation-triangle fa-2x"></i>*@
                        <span class="nav-text">
                            @*Dangers*@
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-envelope fa-2x"></i>
                        <span class="nav-text sendJobMessage">
                            Message
                        </span>
                    </a>
                </li>

               
            }
        </ul>
    </nav>
</section>

<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model.Coordinate));
    var mymap = L.map('mapidDetailsVehicule');
    mymap.scrollWheelZoom.disable();
    mymap.setView([model.Lat, model.Lon], 13);

    L.marker([model.Lat, model.Lon])
       // .bindPopup(popup)
                .addTo(mymap)

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', /*mapbox/satellite-v9*/
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ3V5d2FuZ3VldSIsImEiOiJjazc0amN4ZzkwOG14M2twYXhpbDZ6NjRwIn0.HU_TD-k9bLv6_ctUhyIRuw'
    }).addTo(mymap);

    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: Infinity
    };

</script>

<script type="text/javascript">
    $(function () {
        $('#iconJobCall').click(function () {
            $(this).addClass("hidden");
            $('#numJobCall').removeClass("hidden");
        });
        $('.sendJobMessage').click(function () {

            $('#MyModalContactJob').modal();
        });

        $('.MySlickCarouselJob').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });


    })
</script>
