@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    LookAuKwat.Models.IDal dal = new LookAuKwat.Models.Dal();
    var user = dal.GetUsersList().FirstOrDefault(m => m.UserName == User.Identity.GetUserName());
   
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        @*<ul class="header__menu">*@
        <li class="header__el header__el--blue">
            <a href="@Url.Action("UserDetails", "User", new {title = "Manage" })" class="btn btn--white">Salut @user.FirstName !</a>
        </li>
        <li class="header__el header__el--blue"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn--white">Se déconnecter →</a></li>


        @*<li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserDetails", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>*@

        @*</ul>*@
    }
}
else
{
    @*<ul class="header__menu">*@
    <li class="header__el header__el--blue"><a href="@Url.Action("Register", "Account", new {id = "registerLink" })" class="btn btn--white">S'inscrire →</a></li>
    <li class="header__el header__el--blue"><a href="@Url.Action("Login", "Account", new { id = "loginLink"})" class="btn btn--white">Se connecter →</a></li>
    @*<li>@Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    @*</ul>*@
}
