@{
    ViewBag.Title = "Lookaukwat, site de petites annonces gratuites au cameroun";
}

@*<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>*@


<div class="containe">
    <p>Trouver un <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
</div>
<div class="sect sect--padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site">
                    <h1 class="site__title">Vous recherchez des offres ou des demandes sur LookAuKwat?</h1>
                    <h2 class="site__subtitle">Trouver de bonnes affaires sur <strong>lookaukwat</strong></h2>
                    <a href="@Url.Action("UserProfile", "Home")" class=" btn btn-success">Déposer une annonce <span class="ico">+</span></a>
                    <br /> <hr />
                    <div class="site__box-link">
                        @*<a class="btn btn--width" href="">Offres</a>
                            <a class="btn btn--revert btn--width" href="">Demande</a>*@
                        @*<ul class="nav nav-pills site__box-link">*@
                        @*<li class="active">*@<a id="searchclick" class="btn  btn--width" href="#search" data-toggle="tab">Les offres</a>@*</li>*@
                        @*<li>*@<a id="askclick" class="btn btn--revert btn--width" href="#ask" data-toggle="tab">Les Demandes</a>@*</li>*@
                        @*</ul>*@
                    </div>
                    @*<img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">*@
                </div>
            </div>
        </div>
    </div>
</div>

@*<br />
    <h3 class="text-info">Vous <strong>recherchez</strong> des offres ou des demandes sur <strong>LookAuKwat</strong>?</h3>*@
@*<br />*@
<section>
    @*<ul class="nav nav-pills">
            <li class="active"><a href="#search" data-toggle="tab">Les offres</a></li>
            <li><a href="#ask" data-toggle="tab">Les Demandes</a></li>
        </ul>*@
    <div class="tab-content">
        <div class="tab-pane active fade in" id="search">
            <div id="searchJob">
                <div class="form-group">
                    <label for="selectCategory">Vous êtes dans les <strong>offres</strong>. Pour plus de filtre veuillez Choisir une catégorie :</label>
                    <select class="form-control searchcategory" data-show-icon="true" name="categori" id="categori">
                        <option value="≡ Choisir une catégorie" selected>≡ Choisir une catégorie</option>
                        <option value="≡Toutes les catégories">≡Toutes les catégories</option>
                        <option value="👷 Emploi">👷 Emploi</option>
                        <option value="🏠 Immobilier">🏠 Immobilier</option>
                        <option value="💻 Multimédia">💻 Multimédia</option>
                        <option value="🚗 Véhicule">🚗 Véhicule</option>
                        <option value="👚 Mode">👚 Mode</option>
                        <option value="🛋️ Maison">🛋️ Maison</option>
                    </select>
                </div>
                <div id="AllProduct" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchAllProduct_PartialView", "Product");
                    }

                </div>
                <div id="JobId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferJob_PartialView", "JobOfferSearch");
                    }

                </div>
                <div id="ImmobilierId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferAppart_PartialView", "ApartmentRentalSearch");
                    }

                </div>
                <div id="MultimediaId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferMultimedia_PartialView", "MultimediaOfferSearch");
                    }

                </div>
                <div id="VehiculeId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferVehicule_PartialView", "VehiculeOfferSearch");
                    }

                </div>
                <div id="ModeId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferMode_PartialView", "ModeOfferSearch");
                    }

                </div>
                <div id="HouseId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferHouse_PartialView", "HouseOfferSearch");
                    }

                </div>

            </div>
        </div>
        <div class="tab-pane fade " id="ask">
            <div id="askJob">

                <div class="formulaire">
                    @{
                        Html.RenderAction("SearchAskProduct_PartialView", "Product");
                    }

                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <iframe width="350" height="315" src="https://www.youtube.com/embed/avJCKIRAQxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>



<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class=" col-xs-6 col-sm-6 col-md-6 section-md-t3">
                <div class="row">
                    <div class=" col-xs-12 col-sm-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i></i> <a href="@Url.Action( "ResultSearchOfferJob_PartialView", "JobOfferSearch")"><strong>EMPLOI</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "ResultSearchOfferJob_PartialView", "JobOfferSearch")">Offres d'emploi</a>
                            </li>

                        </ul>
                        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch")"><strong>IMMOBILIER</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { FurnitureOrNot = "Meublé" })">Appartement meublé</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { Type = "studio à louer" })">Studio à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { Type = "Maison à louer" })">Maison à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { Type = "Chambre à louer" })">Chambre à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { Type = "Terrain à vendre" })">Terrain à vendre</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferAppart", "ApartmentRentalSearch", new { Type = "Bureau à louer" })">Bureau à louer</a>
                            </li>
                        </ul>
                        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
                    </div>

                    <div class=" col-xs-12 col-sm-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch")"><strong>Mode</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Vêtements" })">Vêtements</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Chaussures" })">Chaussures</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Accesoires & Bagagerie" })">Accésoires &  Bagagerie</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Montres & Bijoux" })">Montres & Bijoux</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Equipement bébé" })">Equipement bébé</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMode", "ModeOfferSearch", new { RubriqueMode = "Vêtements bébé" })">Vêtements bébé</a>
                            </li>
                        </ul>
                        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch")"><strong>Maison</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Ameublement" })">Ameublement</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Electroménager" })">Electroménager</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Cuisine" })">Cuisine</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Décoration" })">Décoration</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Linge de maison" })">Linge de maison</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Bricolage" })">Bricolage</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferHouse", "HouseOfferSearch", new { RubriqueHouse = "Jardinage" })">Jardinage</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-xs-6 col-sm-6 col-md-6 section-md-t3">
                <div class="row">
                    <div class=" col-xs-12 col-sm-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch")"><strong>MULTIMEDIA</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Informatique" })">Informatique</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Console de jeux" })">Console de jeux</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Jeux vidéo" })">Jeux vidéo</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Téléphonie" })">Téléphonie</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Accésoires téléphonie" })">Accésoires téléphonie</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Téléviseur" })">Téléviseur</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Son" })">Son</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferMultimedia", "MultimediaOfferSearch", new { TypeMultimedia = "Photocopieuse" })">Photocopieuse</a>
                            </li>
                        </ul>
                        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
                    </div>
                    <div class=" col-xs-12 col-sm-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                 <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch")"><strong>VEHICULE</strong></a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = "Voitures" })">Voitures</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = "Location voitures" })">Location voitures</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = "Equipement Auto" })">Equipement Auto</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = "Motos" })">Motos</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="@Url.Action( "searchOfferVehicule", "VehiculeOfferSearch", new { RubriqueVehicule = "Equipement Moto" })">Equipement Moto</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Bureau à louer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>

<!--/ footer Star /-->
@*<section class="section-footer">
    <div class="container">
        <div class="row">
           
            <div class=" col-xs-6 col-sm-6 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Emploi</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="item-list-a">
                                    <i class="fa fa-angle-right"></i> <a href="#">Offres d'emploi</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Immobilier</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Appartement meublé</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">studio à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Maison à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Chambre à louer</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Terrain à vendre</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Bureau à louer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Multimédia</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Informatique</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Console de jeux</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Jeux vidéo</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Téléphonie</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Accésoires téphonie</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Téléviseur</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Son</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Photocopieuse</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Véhicule</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Voitures</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Location voiture</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Equipement Auto</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Motos</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Equipement Moto</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">Mode</h3>
                    </div>
                    <div class="w-body-a">
                        <ul class="list-unstyled">
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Vêtements</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">China</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Hong Kong</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Argentina</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Singapore</a>
                            </li>
                            <li class="item-list-a">
                                <i class="fa fa-angle-right"></i> <a href="#">Philippines</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@


<section class="row">

    @*<section id="jobSectionResult" class="row hidden">
            <div class="sect sect--padding-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site">

                                <div class="site__box-link">
                                    <a id="List" class="btn btn--width" href="#ResulList" data-toggle="tab"><i class="glyphicon glyphicon-list"></i> Vue liste</a>
                                    <a id="Map" class="btn btn--revert btn--width" href="#ResultMap" data-toggle="tab"><i class="glyphicon glyphicon-map-marker"></i> carte</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img id="charging" src="~/UserImage/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />
            <div class="tab-content" id="resultsJobSearch">

                <div class="tab-pane active  fade in" id="ResulList">


                    <div class="row">
                        @{
                            Html.RenderAction("ResultSearch_PartialView", "Product");
                        }

                    </div>
                </div>



                <div class="tab-pane  fade " id="ResultMap">
                    <div id="mapid" style="height:480px"> </div>
                </div>
            </div>
        </section>*@

    @*<section id="AllCategoryResult" class="hidden">

            <ul class="nav nav-pills ">
                <li class="active"><a class="btn btn--revert btn--width" href="#ResulListAll" data-toggle="tab"><i class="glyphicon glyphicon-list"></i> Vue Liste</a></li>
                <li><a class="btn btn--revert btn--width" href="#ResultMapAll" data-toggle="tab"><i class="glyphicon glyphicon-map-marker"></i> Vue Carte</a></li>
            </ul>
            <div class="tab-content" id="resultsAllCategory">
                <div class="tab-pane active  fade in" id="ResulListAll">
                    <div class="col-md-6" id="groupe">


                        @{
                            Html.RenderAction("ListProduct_PartialView", "Product");
                        }
                    </div>
                    <div class="col-md-6">
                      <div class="row text-center">
                          <a href="https://lookaukwat.azurewebsites.net/Job/JobDetail/27"><img src="@Url.Content("~/UserImage/PUB_PAPA.gif")" width="330" alt="lookaukwat géomètre" /></a>
                      </div>
                    </div>
                </div>

                <div class="tab-pane  fade " id="ResultMapAll">
                    <div id="mapidAll" style="height:480px"> </div>
                </div>

            </div>

        </section>*@


</section>


<script type="text/javascript">
    //var jobMarkers = L.layerGroup();
    //var ApartMarkers = L.layerGroup();
    //var mymapJob = L.map('mapid');
    //mymapJob.setView(["12.354722", "7.369722"], 5);


    //L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    //    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    //    maxZoom: 18,
    //    id: 'mapbox/streets-v11', /*mapbox/satellite-v9*/
    //    tileSize: 512,
    //    zoomOffset: -1,
    //    accessToken: 'pk.eyJ1IjoiZ3V5d2FuZ3VldSIsImEiOiJjazc0amN4ZzkwOG14M2twYXhpbDZ6NjRwIn0.HU_TD-k9bLv6_ctUhyIRuw'
    //}).addTo(mymapJob);

    //var options = {
    //    enableHighAccuracy: false,
    //    timeout: 5000,
    //    maximumAge: Infinity
    //};


    //navigator.geolocation.getCurrentPosition(function (position) {
    //    var lat = position.coords.latitude;
    //    var long = position.coords.longitude;
    //    mymapJob.setView([lat, long], 13);
    //}, null, options)


    //Typing script

    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");

    const textArray = ["Emploi", "Logement", "Véhicule", "Terrain", "Phone..."];
    const typingDelay = 200;
    const erasingDelay = 100;
    const newTextDelay = 2000; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;

    function type() {
        if (charIndex < textArray[textArrayIndex].length) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        }
        else {
            cursorSpan.classList.remove("typing");
            setTimeout(erase, newTextDelay);
        }
    }

    function erase() {
        if (charIndex > 0) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
            charIndex--;
            setTimeout(erase, erasingDelay);
        }
        else {
            cursorSpan.classList.remove("typing");
            textArrayIndex++;
            if (textArrayIndex >= textArray.length) textArrayIndex = 0;
            setTimeout(type, typingDelay + 1100);
        }
    }

    document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
        if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
    $(function () {







        //for color of button ask and search
        $('#searchclick').click(function () {
            $('#searchclick').removeClass("btn--revert");
            $('#askclick').addClass("btn--revert");

        })
        $('#askclick').click(function () {
            $('#askclick').removeClass("btn--revert");
            $('#searchclick').addClass("btn--revert");

        })

            //for result
        $('#List').click(function () {
            $('#List').removeClass("btn--revert");
            $('#Map').addClass("btn--revert");

        })
        $('#Map').click(function () {
            $('#Map').removeClass("btn--revert");
            $('#List').addClass("btn--revert");

        })

        $("select.searchcategory").change(function () {
            var select = $(this).children("option:selected").val();
            console.log(select)
            if (select == "≡ Choisir une catégorie" || select == "" || select == null) {
                $('#vehiculeid').addClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
            }

            if (select == "🛋️ Maison") {

                $('#VehiculeId').addClass('hidden');
                $('#HouseId').removeClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#MultimediaId').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
            } else {
                $('#HouseId').addClass('hidden');
            }

            if (select == "👚 Mode") {

                $('#VehiculeId').addClass('hidden');
                $('#ModeId').removeClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#ModeId').addClass('hidden');
            }

            if (select == "🚗 Véhicule") {

                $('#VehiculeId').removeClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#VehiculeId').addClass('hidden');
            }

            if (select == "💻 Multimédia") {

                $('#VehiculeId').addClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#MultimediaId').removeClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#MultimediaId').addClass('hidden');
            }

            if (select == "👷 Emploi") {

                $('#VehiculeId').addClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').removeClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').addClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#JobId').addClass('hidden');
            }

            if (select == "≡Toutes les catégories") {

                $('#VehiculeId').addClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').addClass('hidden');
                $('#AllProduct').removeClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#AllProduct').addClass('hidden');
            }

            if (select == "🏠 Immobilier") {

                $('#VehiculeId').addClass('hidden');
                $('#ModeId').addClass('hidden');
                $('#multimediaid').addClass('hidden');
                $('#JobId').addClass('hidden');
                $('#ImmobilierId').removeClass('hidden');
                $('#AllProduct').addClass('hidden');
                $('#HouseId').addClass('hidden');
            } else {
                $('#ImmobilierId').addClass('hidden');
            }
        })


        //var select = $("#categori").val();

        //if (select == "≡ Catégories" || select == "" || select == null) {
        //    $('#MultimediaId').addClass('hidden');
        //    $('#JobId').addClass('hidden');
        //    $('#ImmobilierId').addClass('hidden');
        //    $('#ModeId').addClass('hidden');
        //    $('#VehiculeId').addClass('hidden');
        //    $('#AllCategoryResult').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //}

        //$("select.searchcategory").change(function () {
        //    var select = $("#categori").val();

        //    if (select == "≡ Catégories" || select == "" || select == null) {
        //        //$('#MultimediaId').addClass('hidden');
        //        //$('#JobId').addClass('hidden');
        //        //$('#ImmobilierId').addClass('hidden');
        //        //$('#ModeId').addClass('hidden');
        //        //$('#VehiculeId').addClass('hidden');
        //        //$('#AllCategoryResult').addClass('hidden');
        //        //$('#jobSectionResult').addClass('hidden');
        //        localStorage.setItem("VehiculeResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");

        //    }
        //    if (select == "👚 Mode") {
        //        $('#ModeId').removeClass('hidden');
        //        localStorage.setItem("ModeResultHidden", "false");
        //        localStorage.setItem("VehiculeResultHidden", "true");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "true");


        //    } else {
        //        $('#ModeId').addClass('hidden');
        //    }
        //    if (select == "🚗 Véhicule") {
        //        $('#VehiculeId').removeClass('hidden');
        //        localStorage.setItem("VehiculeResultHidden", "false");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");

        //    } else {
        //        $('#VehiculeId').addClass('hidden');
        //    }
        //    if (select == "💻 Multimédia") {
        //        $('#MultimediaId').removeClass('hidden');
        //        localStorage.setItem("MultimediaResultHidden", "false");
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "true");
        //        localStorage.setItem("VehiculeResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");

        //    } else {
        //        $('#MultimediaId').addClass('hidden');
        //    }

        //    if (select == "👷 Emploi") {
        //        $('#JobId').removeClass('hidden');
        //       // $('#MultimediaId').addClass('hidden');
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "false");
        //        localStorage.setItem("AppartResultHidden", "true");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("VehiculeResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");

        //    } else {
        //        $('#JobId').addClass('hidden');
        //    }
        //    if (select == "≡Toutes les catégories") {
        //        $('#jobSectionResult').addClass('hidden');
        //        $('#AllCategoryResult').removeClass('hidden');
        //        localStorage.setItem("AllResultHidden", "false");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "true");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");
        //        //$('#MultimediaId').addClass('hidden');
        //       // $('#JobId').addClass('hidden');
        //       // $('#ImmobilierId').addClass('hidden');
        //    }
        //    if (select == "🏠 Immobilier") {
        //        $('#ImmobilierId').removeClass('hidden');
        //        localStorage.setItem("AllResultHidden", "true");
        //        localStorage.setItem("JobResultHidden", "true");
        //        localStorage.setItem("MultimediaResultHidden", "true");
        //        localStorage.setItem("AppartResultHidden", "false");
        //        localStorage.setItem("VehiculeResultHidden", "true");
        //        localStorage.setItem("ModeResultHidden", "true");

        //    } else {
        //        $('#ImmobilierId').addClass('hidden');
        //    }
        //});

        //if (localStorage.getItem("AllResultHidden") == "true") {
        //    $('#AllCategoryResult').addClass('hidden');
        //} else {
        //    $('#AllCategoryResult').removeClass('hidden');
        //    $('#ImmobilierId').addClass('hidden');
        //    $('#JobId').addClass('hidden');
        //    $('#MultimediaId').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //    localStorage.setItem("VehiculeResultHidden", "true");
        //};

        //if (localStorage.getItem("JobResultHidden") == "true") {
        //    $('#JobId').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //} else {
        //    $('#JobId').removeClass('hidden');
        //    $('#jobSectionResult').removeClass('hidden');

        //   $('#submitJob').click();
        //};

        //if (localStorage.getItem("AppartResultHidden") == "true") {
        //    $('#ImmobilierId').addClass('hidden');
        //    // $('#jobSectionResult').addClass('hidden');
        //} else {
        //    $('#ImmobilierId').removeClass('hidden');
        //    $('#jobSectionResult').removeClass('hidden');

        //    $('#submitApart').click();

        //};
        //if (localStorage.getItem("MultimediaResultHidden") == "true") {
        //    $('#MultimediaId').addClass('hidden');
        //    // $('#jobSectionResult').addClass('hidden');
        //} else {
        //    $('#MultimediaId').removeClass('hidden');
        //    $('#jobSectionResult').removeClass('hidden');

        //    $('#submitMulti').click();

        //};
        //if (localStorage.getItem("VehiculeResultHidden") == "true") {
        //    $('#VehiculeId').addClass('hidden');
        //    // $('#jobSectionResult').addClass('hidden');
        //} else {
        //    $('#VehiculeId').removeClass('hidden');
        //    $('#jobSectionResult').removeClass('hidden');

        //    $('#submitVehicule').click();

        //};
        //if (localStorage.getItem("ModeResultHidden") == "true") {
        //    $('#ModeId').addClass('hidden');
        //    // $('#jobSectionResult').addClass('hidden');
        //} else {
        //    $('#ModeId').removeClass('hidden');
        //    $('#jobSectionResult').removeClass('hidden');

        //    $('#submitMode').click();

        //};
        //if (localStorage.getItem("NoChoicetHidden") == "true") {
        //    $('#ImmobilierId').addClass('hidden');
        //    $('#JobId').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //};


        //document.getElementById("categori").onchange = function () {
        //    localStorage.setItem('categori', document.getElementById("categori").value);
        //}

        //if (localStorage.getItem('categori')) {
        //    document.getElementById("categori").options[localStorage.getItem('categori')].selected = true;
        //};

        //document.getElementById("categori").onchange = function () {
        //    localStorage['categori'] = document.getElementById("categori").value;
        //}
        //window.onload = function () {
        //    if (localStorage['categori'])
        //        document.getElementById("categori").value = localStorage['categori'];
        //}


        @*$('#submitApart').click(function () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            localStorage.setItem("AllResultHidden", "true");
            jobMarkers.clearLayers()
             ApartMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferApart_Jason", "ApartmentRentalSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                type: $("#Type").val(),
                town: $(".TownSearchApart").val(),
                minSurface: $("#MinApartSurface").val(),
                maxSurface: $("#MaxApartSurface").val(),
                minPrice: $(".PriceMinSearchApart").val(),
                maxPrice: $(".PriceMaxSearchApart").val(),
                furnitureOrNot: $("#FurnitureOrNot").val(),
                roomNumber: $("#RoomNumber").val(),
            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);
                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/ApartmentRental/ApartDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'


                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                        .bindPopup(popup)
                       // .addTo(mymapJob);

                        ApartMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(ApartMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
        });*@

       // $('#submitJob').click(SubmitJobClick);
       // $('#submitMulti').click(SubmitMultimediaClick);
        //$('#submitVehicule').click(SubmitVehiculeClick);
        //$('#submitMode').click(SubmitModeClick);
        //$('#btnSearchAskProduct').click(SubmitAskClick);


         //$("a[href='#ResultMap']").on('shown.bs.tab', function (e) {

         //    mymapJob.invalidateSize();
         //});

    })

        @*function SubmitJobClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferJob_Jason", "JobOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                sector: $("#ActivitySectorJob").val(),
                town: $(".TownSearchJob").val(),
                contract: $("#TypeContractJob").val(),
                minPrice: $("#PriceMinSearch").val(),
                maxPrice: $("#PriceMaxSearch").val(),
            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                        //console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Job/JobDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };*@


    @*function SubmitAskClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchAsk_Jason", "Product")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                category: $("#CagtegorieSearchAsk").val(),
                town: $("#TownSearchAsk").val(),
                title: $("#TitleSearchAsk").val(),

            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                       // console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Job/JobDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };*@

            @*function SubmitMultimediaClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferMultimedia_Jason", "MultimediaOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                type: $("#TypeMultimedia").val(),
                town: $("#TownMultimedia").val(),
                brand: $("#BrandMultimedia").val(),
                modele: $("#ModelMultimedia").val(),
                capacity: $("#Capacity").val(),
                maxPrice: $("#PriceMultimedia").val(),
            }),
                  success:
                      function (data) {
                          console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Multimedia/MultimediaDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };*@

    @*function SubmitVehiculeClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("searchOfferVehicule_Json", "VehiculeOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                rubrique: $("#RubriqueVehicule").val(),
                town: $("#TownVehicule").val(),
                brand: $("#BrandMultimedia").val(),
                modele: $("#ModelVehicule").val(),

            }),
                  success:
                      function (data) {
                          console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Vehicule/VehiculeDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };*@

    @*//for submit mode

    function SubmitModeClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("searchOfferMode_Json", "ModeOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                rubrique: $("#RubriqueMode").val(),
                town: $("#TownMode").val(),
                typeClothes: $("#TypeModeClothes").val(),
                typeShoes: $("#TypeModeShoes").val(),
                typeLuggages: $("#TypeModeAccesorieLugages").val(),
                typeWatch: $("#TypeModeWatchJewelry").val(),
                typeBabyEquipment: $("#TypeModeBabyEquipment").val(),
                typeBabyClothes: $("#TypeModeBabyClothes").val(),
                brandClothes: $("#BrandModeClothes").val(),
                brandShoes: $("#BrandModeShoes").val(),
                price: $("#PriceMode").val(),
                state: $("#StateMode").val(),
                color: $("#ColorMode").val(),
                univers: $("#UniversMode").val(),
                sizeSchoes: $("#SizeModeShoes").val(),
                sizeClothes: $("#SizeModeClothes").val(),

            }),
                  success:
                      function (data) {
                          console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Vehicule/VehiculeDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };*@
</script>

