@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

<!--<section class="row">
    <div id="myCarousel" class="carousel slide col-sm-12" data-ride="carousel">-->
<!-- Indicators -->
<!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
</ol>-->
<!-- Wrapper for slides -->
<!--<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <a href="#"><img src="@Url.Content("~/UserImage/TrouverUnJob.JPG")" alt="Bienvenue LookAuKwat" class="img-rounded" /></a>

        </div>

        <div class="item">
            <a href="#"><img src="@Url.Content("~/UserImage/appartement-a-louer-2.JPG")" alt="appartement à louer LookAuKwat" class="img-rounded" /></a>
            <div class="carousel-caption">
                <h4><strong>Je trouve mon logement</strong></h4>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/UserImage/terrain-construction6.png")" alt="terrain à vendre LookAuKwat" class="img-rounded"/>

        </div>
        <div class="item">
            <img src="@Url.Content("~/UserImage/VehiculeOcassion.JPG")" alt="Vehicule occasion LookAuKwat" class="img-rounded" />

        </div>
        <div class="item">
            <img src="@Url.Content("~/UserImage/Vêtement.JPG")" alt="Vêtements lookaukwat" class="img-rounded"  />

        </div>
    </div>-->
<!-- Left and right controls -->
<!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>-->



<div class="containe">
    <p>Trouver un <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
</div>
<div class="sect sect--padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site">
                    <h1 class="site__title">Vous recherchez des offres ou des demandes sur LookAuKwat?</h1>
                    <h2 class="site__subtitle">Trouver de bonnes affaires</h2>
                    <div class="site__box-link">
                        @*<a class="btn btn--width" href="">Offres</a>
                            <a class="btn btn--revert btn--width" href="">Demande</a>*@
                        @*<ul class="nav nav-pills site__box-link">*@
                        @*<li class="active">*@<a id="searchclick" class="btn  btn--width" href="#search" data-toggle="tab">Les offres</a>@*</li>*@
                        @*<li>*@<a id="askclick" class="btn btn--revert btn--width" href="#ask" data-toggle="tab">Les Demandes</a>@*</li>*@
                        @*</ul>*@
                    </div>
                    @*<img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">*@
                </div>
            </div>
        </div>
    </div>
</div>

@*<br />
    <h3 class="text-info">Vous <strong>recherchez</strong> des offres ou des demandes sur <strong>LookAuKwat</strong>?</h3>*@
@*<br />*@
<section>
    @*<ul class="nav nav-pills">
            <li class="active"><a href="#search" data-toggle="tab">Les offres</a></li>
            <li><a href="#ask" data-toggle="tab">Les Demandes</a></li>
        </ul>*@
    <div class="tab-content">
        <div class="tab-pane active fade in" id="search">
            <div id="searchJob">
                <div class="form-group">
                    <label for="selectCategory" >Vous êtes dans les <strong>offres</strong>. Pour plus de filtre veuillez Choisir une catégorie :</label>
                    <select class="form-control searchcategory" data-show-icon="true" name="categori" id="categori">
                        <option>≡ Catégories</option>
                        <option>≡Toutes les catégories</option>
                        <option data-content="<i class='glyphicon glyphicon-briefcase'></i>">👷 Emploi</option>
                        <option data-content="<i class='glyphicon glyphicon-home'></i>">🏠 Immobilier</option>
                        <option data-content="<i class='glyphicon glyphicon-home'></i>">💻 Multimédia</option>
                        <option data-content="<i class='glyphicon glyphicon-home'></i>">🚗 Véhicule</option>
                    </select>
                </div>
                <div id="JobId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferJob_PartialView", "JobOfferSearch");
                    }

                </div>
                <div id="ImmobilierId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferAppart_PartialView", "ApartmentRentalSearch");
                    }

                </div>
                <div id="MultimediaId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferMultimedia_PartialView", "MultimediaOfferSearch");
                    }

                </div>
                <div id="VehiculeId" class="hidden formulaire">
                    @{
                        Html.RenderAction("SearchOfferVehicule_PartialView", "VehiculeOfferSearch");
                    }

                </div>

            </div>
        </div>
        <div class="tab-pane fade " id="ask">
            <div id="askJob">

                <div corners" style="border-radius: 25px;background: #ffd800;padding: 20px;">
                    @{
                        Html.RenderAction("SearchAskProduct_PartialView", "Product");
                    }

                </div>
            </div>
        </div>
    </div>

</section>
<hr />
<section class="row">

    <section id="jobSectionResult" class="row hidden">
        <div class="sect sect--padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site">

                            <div class="site__box-link">
                                <a id="List" class="btn btn--width" href="#ResulList" data-toggle="tab">Résultats Liste</a>
                                <a id="Map" class="btn btn--revert btn--width" href="#ResultMap" data-toggle="tab">Résultats Carte</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<ul class="nav nav-pills ">
                <li class="active"><a href="#ResulList" data-toggle="tab">Liste</a></li>
                <li><a href="#ResultMap" data-toggle="tab">Carte</a></li>
            </ul>*@
        <img id="charging" src="~/UserImage/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />
        <div class="tab-content" id="resultsJobSearch">

            <div class="tab-pane active  fade in" id="ResulList">


                <div class="row">
                    @{
                        Html.RenderAction("ResultSearch_PartialView", "Product");
                    }

                </div>
            </div>



            <div class="tab-pane  fade " id="ResultMap">
                <div id="mapid" style="height:480px"> </div>
            </div>
        </div>
    </section>

    <section id="AllCategoryResult" class="hidden">

        <ul class="nav nav-pills ">
            <li class="active"><a class="btn btn--revert btn--width" href="#ResulListAll" data-toggle="tab">Résultats Liste</a></li>
            <li><a class="btn btn--revert btn--width" href="#ResultMapAll" data-toggle="tab">Résultats Carte</a></li>
        </ul>
        <div class="tab-content" id="resultsAllCategory">
            <div class="tab-pane active  fade in" id="ResulListAll">
                <div class="col-md-6" id="groupe">


                    @{
                        Html.RenderAction("ListProduct_PartialView", "Product");
                    }
                </div>
                <div class="col-md-6">
                    @*<h1> totot ndc</h1>
                        ici les prochun code pour les publicités*@
                </div>
            </div>

            <div class="tab-pane  fade " id="ResultMapAll">
                <div id="mapidAll" style="height:480px"> </div>
            </div>

        </div>

    </section>


</section>


<script type="text/javascript">
    var jobMarkers = L.layerGroup();
    var ApartMarkers = L.layerGroup();
    var mymapJob = L.map('mapid');
    mymapJob.setView(["12.354722", "7.369722"], 5);


    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', /*mapbox/satellite-v9*/
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ3V5d2FuZ3VldSIsImEiOiJjazc0amN4ZzkwOG14M2twYXhpbDZ6NjRwIn0.HU_TD-k9bLv6_ctUhyIRuw'
    }).addTo(mymapJob);

    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: Infinity
    };


    navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        mymapJob.setView([lat, long], 13);
    }, null, options)


    //Typing script

    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");

    const textArray = ["Emploi", "Logement", "Véhicule", "Terrain", "Phone..."];
    const typingDelay = 200;
    const erasingDelay = 100;
    const newTextDelay = 2000; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;

    function type() {
        if (charIndex < textArray[textArrayIndex].length) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        }
        else {
            cursorSpan.classList.remove("typing");
            setTimeout(erase, newTextDelay);
        }
    }

    function erase() {
        if (charIndex > 0) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
            charIndex--;
            setTimeout(erase, erasingDelay);
        }
        else {
            cursorSpan.classList.remove("typing");
            textArrayIndex++;
            if (textArrayIndex >= textArray.length) textArrayIndex = 0;
            setTimeout(type, typingDelay + 1100);
        }
    }

    document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
        if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
    $(function () {
        






        //for color of button ask and search
        $('#searchclick').click(function () {
            $('#searchclick').removeClass("btn--revert");
            $('#askclick').addClass("btn--revert");

        })
        $('#askclick').click(function () {
            $('#askclick').removeClass("btn--revert");
            $('#searchclick').addClass("btn--revert");

        })

            //for result
        $('#List').click(function () {
            $('#List').removeClass("btn--revert");
            $('#Map').addClass("btn--revert");

        })
        $('#Map').click(function () {
            $('#Map').removeClass("btn--revert");
            $('#List').addClass("btn--revert");

        })

        //var select = $("select.searchcategory").children("option:selected").val();
        //consoloe.log(select);
        //if (select == "Choisir une catégorie" || select == "" || select == null) {
        //    $('#VehiculeId').addClass('hidden');
        //    $('#MultimediaId').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //    $('#AllCategoryResult').addClass('hidden');
        //}

        $("select.searchcategory").change(function () {
            var select = $(this).children("option:selected").val();

            if (select == "≡ Catégories" || select == "" || select == null) {

                localStorage.setItem("VehiculeResultHidden", "true");
                localStorage.setItem("MultimediaResultHidden", "true");
                localStorage.setItem("AllResultHidden", "true");
                localStorage.setItem("JobResultHidden", "true");
                localStorage.setItem("AppartResultHidden", "true");

            }
            if (select == "🚗 Véhicule") {
                $('#VehiculeId').removeClass('hidden');
                localStorage.setItem("VehiculeResultHidden", "false");
                localStorage.setItem("MultimediaResultHidden", "true");
                localStorage.setItem("AllResultHidden", "true");
                localStorage.setItem("JobResultHidden", "true");
                localStorage.setItem("AppartResultHidden", "true");


            } else {
                $('#VehiculeId').addClass('hidden');
            }
            if (select == "💻 Multimédia") {
                $('#MultimediaId').removeClass('hidden');
                localStorage.setItem("MultimediaResultHidden", "false");
                localStorage.setItem("AllResultHidden", "true");
                localStorage.setItem("JobResultHidden", "true");
                localStorage.setItem("AppartResultHidden", "true");
                localStorage.setItem("VehiculeResultHidden", "true");

            } else {
                $('#MultimediaId').addClass('hidden');
            }

            if (select == "👷 Emploi") {
                $('#JobId').removeClass('hidden');
               // $('#MultimediaId').addClass('hidden');
                localStorage.setItem("AllResultHidden", "true");
                localStorage.setItem("JobResultHidden", "false");
                localStorage.setItem("AppartResultHidden", "true");
                localStorage.setItem("MultimediaResultHidden", "true");
                localStorage.setItem("VehiculeResultHidden", "true");

            } else {
                $('#JobId').addClass('hidden');
            }
            if (select == "≡Toutes les catégories") {
                $('#jobSectionResult').addClass('hidden');
                $('#AllCategoryResult').removeClass('hidden');
                localStorage.setItem("AllResultHidden", "false");
                localStorage.setItem("JobResultHidden", "true");
                localStorage.setItem("AppartResultHidden", "true");
                localStorage.setItem("MultimediaResultHidden", "true");
                //$('#MultimediaId').addClass('hidden');
               // $('#JobId').addClass('hidden');
               // $('#ImmobilierId').addClass('hidden');
            }
            if (select == "🏠 Immobilier") {
                $('#ImmobilierId').removeClass('hidden');
                localStorage.setItem("AllResultHidden", "true");
                localStorage.setItem("JobResultHidden", "true");
                localStorage.setItem("MultimediaResultHidden", "true");
                localStorage.setItem("AppartResultHidden", "false");
                localStorage.setItem("VehiculeResultHidden", "true");

            } else {
                $('#ImmobilierId').addClass('hidden');
            }
        });

        if (localStorage.getItem("AllResultHidden") == "true") {
            $('#AllCategoryResult').addClass('hidden');
        } else {
            $('#AllCategoryResult').removeClass('hidden');
            $('#ImmobilierId').addClass('hidden');
            $('#JobId').addClass('hidden');
            $('#MultimediaId').addClass('hidden');
            $('#jobSectionResult').addClass('hidden');
            localStorage.setItem("VehiculeResultHidden", "true");
        };

        if (localStorage.getItem("JobResultHidden") == "true") {
            $('#JobId').addClass('hidden');
            $('#jobSectionResult').addClass('hidden');
        } else {
            $('#JobId').removeClass('hidden');
            $('#jobSectionResult').removeClass('hidden');

           $('#submitJob').click();
        };

        if (localStorage.getItem("AppartResultHidden") == "true") {
            $('#ImmobilierId').addClass('hidden');
            // $('#jobSectionResult').addClass('hidden');
        } else {
            $('#ImmobilierId').removeClass('hidden');
            $('#jobSectionResult').removeClass('hidden');

            $('#submitApart').click();

        };
        if (localStorage.getItem("MultimediaResultHidden") == "true") {
            $('#MultimediaId').addClass('hidden');
            // $('#jobSectionResult').addClass('hidden');
        } else {
            $('#MultimediaId').removeClass('hidden');
            $('#jobSectionResult').removeClass('hidden');

            $('#submitMulti').click();

        };
        if (localStorage.getItem("VehiculeResultHidden") == "true") {
            $('#VehiculeId').addClass('hidden');
            // $('#jobSectionResult').addClass('hidden');
        } else {
            $('#VehiculeId').removeClass('hidden');
            $('#jobSectionResult').removeClass('hidden');

            $('#submitVehicule').click();

        };
        //if (localStorage.getItem("NoChoicetHidden") == "true") {
        //    $('#ImmobilierId').addClass('hidden');
        //    $('#JobId').addClass('hidden');
        //    $('#jobSectionResult').addClass('hidden');
        //};


        //document.getElementById("categori").onchange = function () {
        //    localStorage.setItem('categori', document.getElementById("categori").value);
        //}

        //if (localStorage.getItem('categori')) {
        //    document.getElementById("categori").options[localStorage.getItem('categori')].selected = true;
        //};

        document.getElementById("categori").onchange = function () {
            localStorage['categori'] = document.getElementById("categori").value;
        }
        window.onload = function () {
            if (localStorage['categori'])
                document.getElementById("categori").value = localStorage['categori'];
        }


        $('#submitApart').click(function () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            localStorage.setItem("AllResultHidden", "true");
            jobMarkers.clearLayers()
             ApartMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferApart_Jason", "ApartmentRentalSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                type: $("#Type").val(),
                town: $(".TownSearchApart").val(),
                minSurface: $("#MinApartSurface").val(),
                maxSurface: $("#MaxApartSurface").val(),
                minPrice: $(".PriceMinSearchApart").val(),
                maxPrice: $(".PriceMaxSearchApart").val(),
                furnitureOrNot: $("#FurnitureOrNot").val(),
                roomNumber: $("#RoomNumber").val(),
            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);
                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/ApartmentRental/ApartDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'


                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                        .bindPopup(popup)
                       // .addTo(mymapJob);

                        ApartMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(ApartMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
        });

        $('#submitJob').click(SubmitJobClick);
        $('#submitMulti').click(SubmitMultimediaClick);
        $('#submitVehicule').click(SubmitVehiculeClick);
        $('#btnSearchAskProduct').click(SubmitAskClick);


         $("a[href='#ResultMap']").on('shown.bs.tab', function (e) {

             mymapJob.invalidateSize();
         });

    })

        function SubmitJobClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferJob_Jason", "JobOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                sector: $("#ActivitySectorJob").val(),
                town: $(".TownSearchJob").val(),
                contract: $("#TypeContractJob").val(),
                minPrice: $("#PriceMinSearch").val(),
                maxPrice: $("#PriceMaxSearch").val(),
            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                        //console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Job/JobDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };


    function SubmitAskClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchAsk_Jason", "Product")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                category: $("#CagtegorieSearchAsk").val(),
                town: $("#TownSearchAsk").val(),
                title: $("#TitleSearchAsk").val(),

            }),
                  success:
                      function (data) {

                    for (var i = 0; i < data.length; i++) {
                       // console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Job/JobDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };

            function SubmitMultimediaClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("ResultSearchOfferMultimedia_Jason", "MultimediaOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                type: $("#TypeMultimedia").val(),
                town: $("#TownMultimedia").val(),
                brand: $("#BrandMultimedia").val(),
                modele: $("#ModelMultimedia").val(),
                capacity: $("#Capacity").val(),
                maxPrice: $("#PriceMultimedia").val(),
            }),
                  success:
                      function (data) {
                          console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Multimedia/MultimediaDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };

    function SubmitVehiculeClick () {
            $('#jobSectionResult').removeClass('hidden');
            $('#AllCategoryResult').addClass('hidden');
            ApartMarkers.clearLayers()
            jobMarkers.clearLayers()

              $.ajax({
            type: "POST",
            url: '@Url.Action("searchOfferVehicule_Json", "VehiculeOfferSearch")',
            dataType: "json",
            headers: {
                //"api-key": searchServiceApiKey,
                "Content-Type": "application/json"
            },
            data: JSON.stringify({

                rubrique: $("#RubriqueVehicule").val(),
                town: $("#TownVehicule").val(),
                brand: $("#BrandMultimedia").val(),
                modele: $("#ModelVehicule").val(),

            }),
                  success:
                      function (data) {
                          console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].Coordinate.Lat);

                        var popup = '<div class="thumbnail"> <a class="img-rounded" href="' + data[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data[i].Title + '">  <img id="ImageDetailIniById" src="' + data[i].Images[0] + '" alt="LookAuKwat ' + data[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data[i].Title +
                            '<br/><b>Adresse : </b>' + data[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Vehicule/VehiculeDetail/' + data[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'



                        var markerjob = L.marker([data[i].Coordinate.Lat, data[i].Coordinate.Lon])
                           .bindPopup(popup)
                       // .addTo(mymapJob);

                        jobMarkers.addLayer(markerjob)
                          }
                          // $("#mymapJob").load(" #mymapJob");
                          mymapJob.addLayer(jobMarkers);
                  },
                  error: function (xhr) {
                      console.log(xhr.responseText);
                      alert("Une erreur est survenu  !");
                  }
              });
            mymapJob.invalidateSize();
    };

</script>

<script type="text/javascript">
    var mymap = L.map('mapidAll');
    mymap.setView(["12.354722", "7.369722"], 5);
    $("a[href='#ResultMapAll']").on('shown.bs.tab', function (e) {
        mymap.invalidateSize();
        $.ajax({
            type: "POST",
            url: '/Product/listAllProductReturnJson',

            success: function (data2) {


                for (var i = 0; i < data2.length; i++) {
                    //console.log(data2[i]);
                    if (data2[i].Category.CategoryName == "Emploi") {

                        var popup2 =
                            '<div class="thumbnail"> <a class="img-rounded" href="' + data2[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data2[i].Title + '">  <img id="ImageDetailIniById" src="' + data2[i].Images[0] + '" alt="photo de' + data2[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data2[i].Title +
                            '<br/><b>ville : </b>' + data2[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Job/JobDetail/' + data2[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'
                    } else if (data2[i].Category.CategoryName == "Immobilier") {

                        var popup2 =
                            '<div class="thumbnail"> <a class="img-rounded" href="' + data2[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data2[i].Title + '">  <img id="ImageDetailIniById" src="' + data2[i].Images[0] + '" alt="LookAuKwat ' + data2[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data2[i].Title +
                            '<br/><b>ville : </b>' + data2[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/ApartmentRental/ApartDetail/' + data2[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'
                    } else if (data2[i].Category.CategoryName == "Multimedia") {

                        var popup2 =
                            '<div class="thumbnail"> <a class="img-rounded" href="' + data2[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data2[i].Title + '">  <img id="ImageDetailIniById" src="' + data2[i].Images[0] + '" alt="LookAuKwat ' + data2[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data2[i].Title +
                            '<br/><b>ville : </b>' + data2[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Multimedia/MultimediaDetail/' + data2[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'
                    } else if (data2[i].Category.CategoryName == "Vehicule") {

                        var popup2 =
                            '<div class="thumbnail"> <a class="img-rounded" href="' + data2[i].Images[0] + '" data-lightbox="mygallery" data-title="Image du groupe local ' + data2[i].Title + '">  <img id="ImageDetailIniById" src="' + data2[i].Images[0] + '" alt="LookAuKwat ' + data2[i].Title + '" height="40"></a> </div>' +
                            '<b><span class="glyphicon glyphicon-user"></span> Titre : </b>' + data2[i].Title +
                            '<br/><b>ville : </b>' + data2[i].Town +
                            '<br/><b>Lien: </b>' + '<a class="btn btn-info btn-sm" role="button" href="/Vehicule/VehiculeDetail/' + data2[i].id + '">plus de détails <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>'
                    }
                    L.marker([data2[i].Coordinate.Lat, data2[i].Coordinate.Lon])
                        .bindPopup(popup2)
                        .addTo(mymap);
                    // allGroup.addLayer(group);

                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Une erreur est survenu  !");
            }
        });
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', /*mapbox/satellite-v9*/
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ3V5d2FuZ3VldSIsImEiOiJjazc0amN4ZzkwOG14M2twYXhpbDZ6NjRwIn0.HU_TD-k9bLv6_ctUhyIRuw'
    }).addTo(mymap);

    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: Infinity
    };


    navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        mymap.setView([lat, long], 10);
    }, null, options)
</script>