@model LookAuKwat.Models.ApartmentRentalModel
@using System.Globalization;
@{
    ViewBag.Title = "Détails de l'annonce catégorie immobilier";
}

@{

    TimeSpan elapsTime = DateTime.Now - Model.DateAdd;
    string period = null;
    int time = 0;

    if (elapsTime.TotalMinutes < 60)
    {
        time = elapsTime.Minutes;
        period = "minutes";
    }
    else if (elapsTime.TotalMinutes > 60 && elapsTime.TotalMinutes < 1440)
    {
        time = elapsTime.Hours;
        period = "Heures";
    }
    else if (elapsTime.TotalMinutes > 1440)
    {
        time = elapsTime.Days;
        period = "Jours";
    }

}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

<h2>Détails de l'annonce catégorie immobilier</h2>

<div id="MyModalContactApart" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Envoyer un message à @Model.User.FirstName<span id="eventTitle"></span></h2>
            </div>
            <div class="modal-body">

                @{
                    var link = HttpContext.Current.Request.Url.AbsoluteUri;
                    Html.RenderAction("ContactProductUser_PartialView", "Product", new { RecieverEmail = Model.User.Email, RecieverName = Model.User.UserName, Linkshare = link, Category = "Imo" });
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<section class="row">

    <section class="col-md-8">
        <div class="col-md-12" style="border-radius: 15px;background:#a5b5c5;background: lightgray !important; ">
            <div class="row">
                <div id="myCarousel" class="carousel slide col-sm-12" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @{

                            for (int num = 1; num < Model.Images.Count; num++)
                            {
                                <li data-target="#myCarousel" data-slide-to="@num"></li>

                            }

                        }
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{

                                <div class="item active">
                                    <a href="@Model.Images[0].Image" data-lightbox="mygallery"><img class="img-rounded img-responsive" src="@Model.Images[0].Image" alt="LookAuKwat" /></a>

                                </div>
                                for (int a = 1; a < Model.Images.Count; a++)
                                {
                                    <div class="item ">
                                        <a href="@Model.Images[a].Image" data-lightbox="mygallery"><img height="400" src="@Model.Images[a].Image" alt="LookAuKwat" class="img-rounded img-responsive" /></a>

                                    </div>
                                }
                            }
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <h3 class="product-title"><strong>@Model.Title</strong></h3>
                <div>
                    <label>Ajouté il y'a : </label>  @time.ToString() @period

                </div>
                <div class="rating">
                    <span class="review-no"><strong>@Model.ViewNumber vues</strong></span>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">

            <div class=" col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
                <p>@Model.Type</p>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.FurnitureOrNot, htmlAttributes: new { @class = "control-label " })
                <p>@Model.FurnitureOrNot</p>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 price">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })
                <p><span>@Model.Price FCFA</span></p>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label " })
                <p>@Model.RoomNumber</p>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.ApartSurface, htmlAttributes: new { @class = "control-label " })
                <p>@Model.ApartSurface m2</p>

            </div>

        </div>
        <hr />
        <div class="row">
            <h3 class="product-title">Description</h3>
            <p class="product-description" style="white-space:pre-wrap">@Model.Description</p>
        </div>
        <hr />
        <div class="row">
            <label>Ville : </label> @Model.Town , <label>Adresse : </label> @Model.Street
            <div id="mapidDetailsJob" style="height:250px;"></div>
        </div>
        <hr />
        <div class="row">
            Signaler l'annonce
        </div>
        <hr />
        <div class="row">
            <p><strong>Partager sur:</strong></p>
            <p>
                @*facebook sharing*@
                <a href="javascript:void(o)" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id','facebook-share-dialog','toolbar=0,status=0,width=600,height=600');"> <img src="@Url.Content("~/UserImage/facebook.png ")" id="imgfb" alt="facebook" height="40" /></a> @*twitter sharing*@
                <a href="http://twitter.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id&title=@Model.Title&summary=@Model.Description" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img src="@Url.Content("~/UserImage/Twitter.png ")" id="imgtw" alt="twitter" height="40" /></a>
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> @*LinkedIn sharing*@
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="Linkedin" src="@Url.Content("~/UserImage/linkedin.png ")" id="imgln" height="40" /></a> @*GooglePlus sharing*@
                <a href="https://mail.google.com/mail/?view=cm&su=@Model.Title&to&body=Job disponible @Model.Description sur le lien : @HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="GooglePlus" src="@Url.Content("~/UserImage/Gmail.png ")" id="imggoogle" height="40" /></a>
                <a href="http://compose.mail.yahoo.com/?&Subject=@Model.Title&To=&Body=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id" onclick="javascript:window.open(this.href,'sharer','toolbar=0,status=0,width=548,height=400');return false;" rel="nofollow"> <img alt="Linkedin" src="@Url.Content("~/UserImage/Yahoo.png ")" id="imgln" height="40" /></a>

                <a href="whatsapp://send?text=@HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.PathAndQuery, "/")@Request.RawUrl.ToString().Split('/')[1]/ApartDetail/@Model.id" data-action="share/whatsapp/share"><img alt="whatsapp" src="@Url.Content("~/UserImage/whatsapp.png ")" id="imgln" height="40" /></a>
            </p>
        </div>
        <hr />
        <h3>Quelques annonces similaire qui peuvent vous intéréssez</h3>
        <div class="row gallery MySlickCarouselAppart">

            @{
                Html.RenderAction("SimilarProduct_PartialView", "Product", new { model = Model });
            }
        </div>
    </section>
    <section class="col-md-4">
        <div id="ajaxImotarget" class="row" style="border-radius: 25px;background: lightgray;padding: 20px;">
            <img src="https://greendestinations.org/wp-content/uploads/2019/05/avatar-exemple.jpg" alt="photo du publicateur" class="img-rounded" height="50" /> @Model.User.FirstName
            <hr />
            <button id="sendApartMessage" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Envoyer un message </button>
            <button id="iconApartCall" class="btn btn-default"><span class="glyphicon glyphicon-phone"></span> Voir le numéro</button>
            <a id="numApartCall" class="hidden" href="tel:@Model.User.PhoneNumber">@Model.User.PhoneNumber</a>
        </div>
        <div class="row" style="height:7px">
            <div class="row alert alert-success js-alert-apart hidden" role="alert">
                Message envoyé avec succès !
                Bientôt le propriétaire vous contactera
            </div>
        </div>
    </section>
</section>


<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model.Coordinate));
    var mymap = L.map('mapidDetailsJob');
    console.log(model.Lat)
    console.log(model.Lon)
    mymap.setView([model.Lat, model.Lon], 13);

    L.marker([model.Lat, model.Lon])
       // .bindPopup(popup)
                .addTo(mymap)

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', /*mapbox/satellite-v9*/
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ3V5d2FuZ3VldSIsImEiOiJjazc0amN4ZzkwOG14M2twYXhpbDZ6NjRwIn0.HU_TD-k9bLv6_ctUhyIRuw'
    }).addTo(mymap);

    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: Infinity
    };

</script>

<script type="text/javascript">
    $(function () {
        $('#iconApartCall').click(function () {
            $(this).addClass("hidden");
            $('#numApartCall').removeClass("hidden");
        });
        $('#sendApartMessage').click(function () {

            $('#MyModalContactApart').modal();
        });
        $('.carousel').carousel({
            pause: true,
            interval: false
        });

        $('.MySlickCarouselAppart').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    })
</script>