@model LookAuKwat.Models.ApplicationUser

@{
    ViewBag.Title = "Mon compte";
}

<h2>Details des informations</h2>

<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Téléphone <span class="glyphicon glyphicon-phone"></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


    </dl>


</div>
<div class="row">
    <div class="col-xs-6">
        @Html.ActionLink("Retour à l'accueil", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <div class=" col-xs-6">
        @Html.ActionLink("Modifier les informations", "UpdateUserInformations", "User", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
    <div class="col-xs-6">
        @Html.ActionLink("Mes annonces", "UserProfile", "Home", null, new { @class = "btn btn-primary" })
    </div>

</div>
@if (Model.Email == "contact@lookaukwat.com" || Model.Email == "wangueujunior23@gmail.com")
{
    <hr />
    <div class="row">
        @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "btn btn-primary" })
    </div>
}

@*@if (Model.Email == "contact@lookaukwat.com" || Model.Email == "wangueujunior23@gmail.com" || Model.Email == "ebanga.yannick@yahoo.fr"
    || Model.Email == "bkstyle0905@gmail.com" || Model.Email == "danielnoukeu05@gmail.com" || Model.Email == "nembotromeo@gmail.com"
    || Model.Email == "larissazomo446@gmail.com" || Model.Email == "juromonkam@gmail.com")
{

}*@
@{
    LookAuKwat.Models.IDal dal = new LookAuKwat.Models.Dal();
    var user = dal.GetParrainList().FirstOrDefault(m => m.ParrainEmail == Model.Email);
    if (user != null)
    {
        <hr />
        <div class="row">
            @Html.ActionLink("Espace Agent Commercial", "Stat_Account_Agent", "Admin", new { userEmail = Model.Email }, new { @class = "btn btn-primary" })
        </div>
    }
}